[2018-08-18 09:30] fvsch opened #2 "Typography guidelines"
For prior art, see [Photon typography guidelines](https://design.firefox.com/photon/visuals/typography.html).

It would be great to have typography guidelines that are specific to the DevTools, to make sure we harmonize any discrepancies when they exist, and avoid creating discrepancies in the future.

## Current status

### Typefaces

Currently DevTools use 2 typefaces:

1. A sans-serif system fo

[2018-08-18 12:36] fvsch commented on #2
Next, some suggestions and ideas.

## Proposed changes

### Typefaces

No change.

The Linux monospace font-family may need some tweaks, I’ve seen examples where it falls back to a Courier-like typeface, which makes the code text visually smaller than expected.

### Scale

I’ve seen a few reports where users find the text sizes too small, especially when the system font used has a small x-height (

[2018-08-18 13:27] fvsch opened #3 "Vertical and horizontal rhythm"
In [Debugger issue 6631](https://github.com/devtools-html/debugger.html/issues/6631) I’ve explored the Debugger’s vertical rhythm.

Looking at what the DevTools currently do:

- The top bar (with tabs and buttons) is 28px high *excluding borders*
- Some toolbars are 28px and others are 24px high (*excluding borders or separators*, again)
- Content, which can be lines of code, rows of data, etc., h

[2018-08-19 11:35] fvsch opened #4 "Dark theme: improve base color contrast"
Scope: this issue is to decide if a change is wanted and roughly decide what it should be.
If we need to proceed with a technical implementation, it should happen with a Bugzilla bug.

## The problem

By default, all tools use `--theme-body-color` text on top of a `--theme-body-background` color.

In the dark theme, those colors are defined with a kind of medium-gray for the text color, resulting

[2018-08-20 07:04] fvsch commented on #4
Here’s a series of screenshots from different tools, with the proposed color changes on the right.

Looks like a good improvement all around to me. :)

![1-inspector](https://user-images.githubusercontent.com/243601/44325094-0dc6a680-a458-11e8-9e88-632fe70bb4c9.png)

![2-console](https://user-images.githubusercontent.com/243601/44325095-0dc6a680-a458-11e8-9403-43362b71f0b0.png)

![3-debugger](http

[2018-08-20 07:12] fvsch commented on #4
Uses of:

- `--theme-body-color-alt`: 28
- `--theme-body-color-inactive`: 12

[2018-08-20 16:48] fvsch commented on #4
One bit of [user feedback](https://mobile.twitter.com/redgluten/status/1031568306564734978):

If we want to push things even further, we could move up one notch in the [Photon grey palette](https://design.firefox.com/photon/visuals/color.html#grey).

I’ve added a more contrasted option (for both dark and light themes), and the WCAG2 contrast ratio for each. Regarding the contrast ratio, note that:

[2018-08-20 18:09] violasong opened #5 "Redesign Reader View settings panels with Photon Styling"
Note: This isn't actually DevTools, but is a great issue to work on for anyone who wants to help polish Firefox's accessible reading experience! This is for Desktop Firefox, but any improvements made here could be adapted for Firefox mobile.

## Research
1. Go to a page that supports reader mode, like this [NYTimes article](https://www.nytimes.com/2018/08/14/opinion/how-to-cut-greenhouse-gas-emiss

[2018-08-21 15:15] kuba-orlik opened #6 "Checkboxes where there should be radio buttons"
62.0b18 (64-bit) on Linux:

![menu_174](https://user-images.githubusercontent.com/2697916/44410967-c3335000-a565-11e8-95ea-ad196589ca27.png)
![menu_173](https://user-images.githubusercontent.com/2697916/44410971-c4fd1380-a565-11e8-920c-62cbcd90ccae.png)

As only one option can be picked at a time, those should be radio buttons, not checkboxes

[2018-08-21 22:58] violasong opened #7 "Improve DevTools Focus Rings"
## DevTools focus rings that need UX help:
- Tabbing through changeable attributes that already use blue50 to color the entire row, e.g. in Inspector - needs a lighter-colored border, and bolder, maybe 2px to be visible enough.
- Tabbing through changeable text that doesn't use a dark background color, e.g. in Rules.
- Any borderless buttons and other minimalist controls that still use the dotted-

[2018-08-21 23:03] violasong opened #8 "Improve DevTools keyboard navigation"
Related to #7:
Currently many DevTools interactions can’t be navigated via keyboard or need improved keyboard behavior. It would be great if someone with keyboard navigation experience or interest in accessibility could take a look at the keyboard functionality in the most used panels (Inspector, Console, Network, Debugger) and write up some improvements.

[2018-08-21 23:26] birtles commented on #6
This should be fixed in 63 where we have new doorhanger-style menus.

[2018-08-21 23:31] violasong commented on #6
Hooray!! Marking as closed :D

[2018-08-21 23:31] #6 closed

[2018-08-21 23:36] violasong opened #9 "Better design for overriden/disabled CSS properties"
Currently, overridden/disabled properties have strike-out styling.
- Should they look grayed out for more visibility?
- Should overridden styles look different from disabled (unchecked) styles?
- Chrome’s solution of making it a comment for easy copying is interesting

<img width="379" alt="image" src="https://user-images.githubusercontent.com/55994/44434496-43ef4d80-a560-11e8-8c54-37b2a81b307e.pn

[2018-08-21 23:42] violasong opened #10 "Improve zebra table colors (Network, Storage)"
These zebra tables look pretty overwhelming. It would be helpful to have subtler background colors based on [Photon Gray](https://design.firefox.com/photon/visuals/color.html#grey) (perhaps Gray-90 at a low opacity?). Currently we don't have sketch files build up Network or Storage, so the easiest way to test the look of new colors may be via [inspecting the toolbox](https://developer.mozilla.org/

[2018-08-21 23:46] violasong opened #11 "Responsive Design Mode - Info message about rendering engine mismatch"
In Responsive Design Mode, we need to surface a little informational message when the simulated rendering engine doesn’t match the User Agent. For example, on iPhones, we put Firefox/gecko in the User Agent, as the browser is assumed to be Firefox iOS, but behind the scenes, Firefox iOS actually uses WebKit, as is required by Apple. This doesn't have to be a big warning - it's more of a notice so

[2018-08-22 00:05] violasong opened #12 "Improve error/warning colors in Console's dark theme"
In dark mode, the warning messages look way brighter than the error messages, but errors should have equal (or more) visual priority. (The colors are lighter versions of the [Photon palette](https://design.firefox.com/photon/visuals/color.html), but could use improvement.)

<img width="468" alt="image" src="https://user-images.githubusercontent.com/55994/44435360-831f9d80-a564-11e8-95e0-d415609a9d

[2018-08-22 00:13] violasong opened #13 "Improve color of pseudo-classes"
This reddish orange looks like a warning and doesn't fit the theme in light or dark mode. Pick out some new colors (ideally colors that are already being used somewhere in DevTools).

<img width="346" alt="image" src="https://user-images.githubusercontent.com/55994/44435541-499b6200-a565-11e8-8a30-68af766050ef.png">

[2018-08-22 00:44] violasong opened #14 "Unify search highlight colors across DevTools"
We've got a lot of slightly different yellows, purples, and grays in our search highlight colors. In some cases (Style Editor, Scratch Pad) the highlight color makes the text difficult to read.

There may need to be a distinction between Cmd-G navigable search results (e.g. in Debugger) and places where the filter results rows are highlighted (e.g. Rules).

<img width="1047" alt="image" src="https

[2018-08-22 01:43] ilmoralito commented on #6
This is my experience using firefox 16.04

![screenshot from 2018-08-21 18-48-23](https://user-images.githubusercontent.com/928920/44438000-642c0600-a57a-11e8-8819-de32f6ca7633.png)

And this is my experience using firefox 18.04

![screenshot from 2018-08-21 19-00-31](https://user-images.githubusercontent.com/928920/44438011-7017c800-a57a-11e8-9d61-16218909d146.png)

[2018-08-22 08:33] fvsch commented on #6
@ilmoralito You probably mean Ubuntu 16.04 and Ubuntu 18.04?
It would be helpful to know the Firefox versions you’re using in both.
But, as said earlier, this should change in Firefox 63, you can test in Nightly if it works better for you.

[2018-08-22 08:41] fvsch commented on #13
I think it might be meant to match the orange circle added in the Inspector gutter when forcing a `:hover`, `:focus` or `:active` state on a node. It might be more red than orange for better contrast.

So if a different color is picked, it should be applied to both elements.
Note that it's also possible to use two different colors (e.g. 2 shades of the same Photon color) for the light and dark the

[2018-08-22 10:08] fvsch commented on #7
This can be useful, but is not enough for an accessible focus style, because the hover style is too subtle. For keyboard focus, it’s best to also add a strongly contrasted outline (which can be implemented as a CSS outline, border or box-shadow).

A possibly useful trick is to have all buttons use a 1px transparent border:

[code]

[2018-08-22 12:52] fvsch commented on #9
Currently the Inspector seems to be using the same striked out style for 3 different things:

1. Declarations that were commented out in the source CSS (if you have `.test { /* color: red
*/ }` in your source CSS, for instance: striked out, empty checkbox.
2. Declarations that were disabled by the user (through unchecking the checkbox): striked out, empty checkbox.
3. Declarations that are active

[2018-08-22 13:03] fvsch commented on #10
For the light theme:

- The current darker line background uses `--table-zebra-background: rgba(0,0,0,0.05);`, that is black at 5% opacity on top of a white background. It results in a `#f2f2f2` background.
- Photon Grey-10 (with a “e” because Photon is English or possibly Canadian :P) is `#f9f9fa`.

Comparing both:

![devtools-zebra-grey10](https://user-images.githubusercontent.com/243601/4446466

[2018-08-22 17:26] violasong commented on #14
/claim

[2018-08-22 20:28] violasong opened #15 "Design System: Document special DevTools colors"
Based on [Photon colors](https://design.firefox.com/photon/visuals/color.html)
- Dark and light mode variations
- Main UI grays and blue accent
- Blue/magenta/purple primary patterns
- Green/indigo secondary patterns

[2018-08-22 20:33] violasong commented on #13
Good point, thanks Florens!

[2018-08-22 20:36] violasong commented on #10
One more thought: Maybe the row hover color should look slightly different for each row color. Right now there's a slight weird feeling when hovering because of how the row differentiation goes away.

[2018-08-22 21:39] violasong commented on #8
Ah, I'm not sure if we've really thought about this enough (cc: @yzen @martinbalfanz @digitarald).  2 seems important for a developer tool. 3 seems like a good eventual goal, but I realized I'm not sure how well Firefox itself supports this, so maybe we're getting ahead of ourselves a bit?

Re: Quick nav tool: some ideas for a command palette https://github.com/devtools-html/debugger.html/issues/6

[2018-08-22 22:32] violasong commented on #4
Thanks, this is great work! I can't believe I overlooked this AA failure during the Photon redesign since I had done so much contrast-checking of other colors :D. I think the alt/inactive colors just never got thoroughly worked on.

Some background:
•  My previous assumption was that users who needed high contrasts would use the light theme, and I considered that the non-official a11y theme.  I'm

[2018-08-23 07:00] fvsch commented on #4
I’ll see if I can try that next week.

I also wonder if it might be worth having a separate "high contrast" theme, with mostly pure white-on-black (common for high contrast themes), borders for buttons, strong borders and separators instead of muted ones, etc. With a few adjustments to button styles, it might be possible to activate the high contrast style with CSS variables only.

[2018-08-23 08:05] nchevobbe opened #16 "Style console's "Navigation marker""
In the console, if you have the `Persist Logs` input checked, when you navigate to another page, we display what we call a `Navigation Marker`:

<img width="836" alt="image" src="https://user-images.githubusercontent.com/578107/44512714-bd4f8300-a6bb-11e8-9792-4526c6b3e00f.png">

---

As you can see, it does not really stand out of the rest of the messages, and it would be nice to make it easier t

[2018-08-23 08:06] nchevobbe commented on #16
This is also tracked in [Bugzilla](https://bugzilla.mozilla.org/show_bug.cgi?id=1317076), but let's have the design conversation here.

[2018-08-23 14:15] yzen commented on #8
I hope this can be addressed in the inclusive way (e.g. considering all 3 categories). By addressing 3 we are going to solve 1 and 2 (in other words a [curb cut effect](https://ssir.org/articles/entry/the_curb_cut_effect)

[2018-08-23 17:12] fvsch commented on #2
Related bug: [Bug 1458224 - Font size too big on Linux for breadcrumbs and search inputs
](https://bugzilla.mozilla.org/show_bug.cgi?id=1458224).

On Linux the default font-size seems to be 14.66667px and not 11px. This creates some styling and layout issues. The fix seems to be to explicitly set the base font size to 11px.

[2018-08-23 19:58] jasonLaster opened #17 "Debugger - Visibility difficulty for file name in call stack"
Debugger [Issue](https://github.com/devtools-html/debugger.html/issues/6374)

Screenshot taken from Nightly:

<img width="298" alt="image" src="https://user-images.githubusercontent.com/1588648/40332480-da62bb92-5d19-11e8-86ae-5dd59ab49103.png">

I have trouble reading this text with my glasses. Any smudges on my lenses or chromatic aberration at the edges of my glasses makes it very difficult to

[2018-08-23 19:59] violasong commented on #17
Thanks Jason!

Some extra background info on this problem: https://github.com/devtools-html/debugger.html/issues/6374

[2018-08-23 20:03] jasonLaster commented on #7
In the debugger and i believe the toolbox, we only show the focus ring on key down. We do not show it on mouse down. I think this is a nice pattern that other tools could benefit from.

[2018-08-23 21:35] violasong commented on #5
@caterinasworld will be starting on tasks 1, 2, and 4. We're looking for one or two more designers to work with her on task 1 or claim task 3.

[2018-08-23 21:54] violasong opened #18 "DevTools right-toolbar icons: RDM and Frames"
(Assigned to @yashjohar)

Yash submitted some great work for the RDM icon:
<img width="31" alt="image" src="https://user-images.githubusercontent.com/55994/44553819-99a03300-a6e3-11e8-855e-bb287e5f412f.png">

However, as @gabrielluong and I were looking at it some more, we realized that a bit more Photon-ness would be helpful to blend in better with the ••• and **x** icons. I worked on this quick-

[2018-08-24 09:06] Gabiskandar commented on #9
This is something that I come across daily so I completely agree with @fvsch (it would help so much) – but perhaps with an indicator to show the commented out style is from the source CSS (and not just currently disabled in the Inspector)?

[2018-08-24 12:43] fvsch commented on #16
My first idea would be to make it a info log, which is a bit more distinctive.
But from the Bugzilla bug it seems it should not be filterable, so not a "log" and not an "info" or "warning" type. Then it should probably have a different style.

Borders might be doable, it represents a "break" in context, but they would be easier to do cleanly if we had a console row setup like Chrome:

[code]

This

[2018-08-24 12:44] fvsch commented on #16
I believe Globe or History icon and a subtle Grey-10 background could work nicely.

[2018-08-24 13:31] bwinton commented on #16
I feel like globe suggests navigation more than history, which makes me think of debugging for some reason...  Also, what would it look like if we used the favicon of the site we navigated to?

[2018-08-24 13:34] natashahockey commented on #12
I'd like to claim this issue for my first UX task 👍

[2018-08-24 17:34] fvsch commented on #16
Console icons are on a 12x12 canvas, and often only take the 10x10 pixel center area of that canvas. I think if we put a 16x16 favicon in that gutter it might look a bit out of place.

[2018-08-24 18:44] violasong commented on #12
Sounds good! One thing I forgot to mention - we're in the process of improving color contrasts in dark mode, so for this task it would be better to lighten the error color rather than darker the warning color

[2018-08-24 18:46] violasong opened #19 "Improve color for strings (inside errors) in Console"
Occasionally we get this terrible clashing magenta-on-pink situation in Console:

![image](https://user-images.githubusercontent.com/55994/44602044-32da5280-a793-11e8-981e-bb63d6de9f9e.png)

Would be great to have a new color here :). Should look into dark mode as well. I suggest looking at other string colors in other parts of DevTools.

[2018-08-24 19:50] violasong opened #20 "Shadow DOM — "reveal slotted elements" UI could be more clear"
This little gray arrow (with lack of hover/active state) is a bit more hidden than it should be, especially in dark mode. (Related to #4) Perhaps other polish could be made as well. Here's a [test page](https://belen-albeza.github.io/webcomponents-playground/test-scroll/) to try out the interaction.

<img width="238" alt="image" src="https://user-images.githubusercontent.com/55994/44604768-da5b830

[2018-08-24 20:31] yashjohar commented on #18
The icon with negative spacing:
![command-responsivemode-screenshot1](https://user-images.githubusercontent.com/8113279/44606313-4e347480-a80a-11e8-9a28-1c42f112ce07.png)
Some others I've been experimenting with:
1)
![command-responsivemode-screenshot2](https://user-images.githubusercontent.com/8113279/44606408-9b184b00-a80a-11e8-9430-61dd512642fd.png)
2)
![command-responsivemode-screenshot3](http

[2018-08-24 20:49] violasong commented on #4
Sounds good!

Re: High contrast theme - eventually we want to implement user-customization of themes - once we do that, it'll be a lot easier to support/maintain extra themes like this.

[2018-08-24 20:53] jasonLaster commented on #19
i wonder if we could find a substitute for background colors... Perhaps a red left border or style the message differently.

[2018-08-24 20:53] violasong opened #21 "Redesign DevTools Settings"
It needs visual polish and perhaps some rethinking, reorganizing. Would be great if it could look like a mini version of about:preferences!

<img width="1149" alt="image" src="https://user-images.githubusercontent.com/55994/44607380-1cd58d80-a7a5-11e8-8ca4-e3463fa4349b.png">

[2018-08-24 21:07] yashjohar commented on #18
This is the old one with negative spacing and phone overlapping completely:
![command-responsivemode-screenshot4](https://user-images.githubusercontent.com/8113279/44607961-c2bde200-a80f-11e8-8291-d988753a1a7a.png)

[2018-08-25 12:26] fvsch commented on #21
I also suggested turning “Disable JavaScript” into a toolbox button in [bug 1484981](https://bugzilla.mozilla.org/show_bug.cgi?id=1484981) and on Slack, where it was mostly met with approval. ^^

[2018-08-25 14:00] natashahockey commented on #12
Awesome, I've put together a quick mockup in Sketch. I don't have the correct font you use, so I've gone with Menlo for now. I've used the colour Yellow 60 #d7b600 from the design system to make it darker. Look forward to hearing your feedback on this :)

<img width="783" alt="error warning colour" src="https://user-images.githubusercontent.com/15910006/44618952-8f16a280-a877-11e8-8cd9-64accaee4bc

[2018-08-26 17:41] Gabiskandar commented on #14
I've created a *yellow* color study based on the current Nightly DevTools. It seems like a lot of the variation in color is to do with the various tones and opacities layering on top of the various colors (shades in the dark theme predominantly). I turned the browser toolbox on and have the CSS file open with the two themes styling so in the next step we can compare the stylesheet variables with t

[2018-08-26 19:04] fvsch commented on #4
I started working on this in an existing bug:
https://bugzilla.mozilla.org/show_bug.cgi?id=1464348

For now I’m not keeping the suggestion to use `#b6b6b8` instead of Grey-40 `#b1b1b3` (a 2% brightness increase), because there is a lot of text explicitly using grey-40 already in the devtools with styles like `.theme-dark .some-element { color: var(--grey-40); }`. I thought it’s best to not create

[2018-08-26 22:36] fvsch commented on #3
One small example of inconsistent height: [bug 1486323](https://bugzilla.mozilla.org/show_bug.cgi?id=1486323). Netmonitor toolbars are supposed to be 28px high, end up being 29px because of an implementation error.

[2018-08-26 23:10] fvsch commented on #20
The icons look small (around 9x5 pixels), but the icon hitbox is 14x14 pixels. Still small, but not too bad.

In the Console, this type of arrow uses a SVG icon, and I tweaked it recently to display at 10x10 instead of 9x9. Going for 10x10 is probably doable here too.

This part of the Inspector still uses a previous implementation, where the arrow icons have a `theme-twisty` class (not sure what’

[2018-08-26 23:18] fvsch commented on #20
The checkboxes are used in the Inspector's Rules panel, for the record.
After a code search, it looks it’s the only place where it’s used.

Oh and the triangle icon we use in the Console is:
`chrome://devtools/skin/images/devtools-components/arrow.svg`
(but sized at 10x10)

[2018-08-27 08:49] Gabiskandar commented on #14
@fvsch thanks! I think that approach is probably a good idea as the yellow isn't very noticeable in some cases, it just looks a bit murky, however yellow is the 'warning' color, so I presume we need to ensure we use a yellow color that whenever it is an actual warning (i.e. in the filter output) and think about the alternative highlight color when that's appropriate? Obviously taking into consider

[2018-08-27 09:38] martinbalfanz commented on #12
I quickly applied the suggested color and I think it looks good!
<img width="191" alt="screen shot 2018-08-27 at 11 36 56" src="https://user-images.githubusercontent.com/653763/44652952-a24b7e80-a9ed-11e8-9017-421da0dda206.png">

BTW: I believe Menlo is the correct font 🙂

[2018-08-27 10:33] natashahockey commented on #12
Awesome! Glad you’re happy with the suggested solution 😀

[2018-08-27 10:47] natashahockey commented on #17
Happy to take a look at this issue. Will post a solution later today :)

[2018-08-27 14:11] natashahockey commented on #17
@jasonLaster Would you mind explaining how I would recreate this please?

[2018-08-27 15:48] digitarald commented on #4
@violasong interesting, was that user feedback for devtools? I imagine it might apply more to walls of text, like reading mode.

We already noticed in the past that contrast depends a lot on the screen and applied settings. Maybe part of the thinking here needs to consider testing on low-cost laptop screens (in dark dorms).

[2018-08-27 19:49] jasonLaster commented on #17
So, it should be possible to pause in the firefox debugger and see the call stack. If you'd like to easily work on it you can follow our getting started steps here: https://github.com/devtools-html/debugger.html/

[2018-08-27 20:56] violasong commented on #14
Will look at this and respond soon! For now I just wanted to add that whatever unified yellow highlight results from this discussion could also be used to replace the (currently orange) DOM-changing color as discussed in this bug:
https://bugzilla.mozilla.org/show_bug.cgi?id=1014629#c3

[2018-08-27 22:15] violasong opened #23 "Responsive Design Mode — settings panel"
(Assigned to @kriskristin)

A redesign of the RDM Settings panel which includes these screens:
- New Settings panel design with Photon styling and updated device list
  - Both with and without custom devices added
- New add device UI
- New edit device UI
  - Including hover-to-edit/delete interaction for custom devices

[2018-08-27 22:27] violasong commented on #4
Ah, yes, that makes sense! We can see how people react to this change and consider making a gray-35 later if it seems like a good idea.

Yes, that feedback was for DevTools. It would indeed be great to test this on common Windows laptops - once this is in Nightly we can tweet about it and hopefully have people trying it on lots of different computers.

[2018-08-27 23:34] violasong commented on #21
Thanks Florens and Martin, these are all great suggestions. More bonus background info: Here's a redesign created by Helen 3 years ago, made to match the pre-Photon Preferences.
<img width="668" alt="image" src="https://user-images.githubusercontent.com/55994/44692210-b35cb580-aa16-11e8-981e-436ef722f81d.png">

[2018-08-27 23:37] violasong commented on #12
Hi Natasha, thanks for this work! I was actually thinking it would be best to change the red text color to be brighter, rather than changing the yellow color to be darker. Sorry for the confusion!

It could be nice to get the red [contrast ratio](http://accessible-colors.com/) to 6:1 or above to match other work on raising contrast.

[2018-08-28 00:39] violasong commented on #14
Wow, this color study is great, Gabrielle! I laugh/cried at the ridiculousness of it all :D. Totally agree about fixing the colors that are just slightly off Photon.

I'm not sure how you made the "page search" highlight happen, but that looks like it might be the same orange as the HTML-changing orange I just mentioned above? I think Yellow 70 could work as a background color for situations like

[2018-08-28 02:44] kriskristin commented on #19
I'd like to work on this.

@jasonLaster @violasong is there an exception I can throw into the console to replicate this type of message? Would like to see the whole context. Thanks!

[2018-08-28 03:45] digitarald commented on #20
![image](https://user-images.githubusercontent.com/8599/44699592-d056b000-aa39-11e8-9d30-29686cd4e4e7.png)

SVGs might help with here, as issue seems to be the low pixel line width. In the shot above (WQHD+ screen), the upper line of the arrow blurs.

[2018-08-28 08:00] martinbalfanz commented on #20
These are all very good points and I think SVG could really help.

Though, I wanted to mention that I think the original task was also about the tiny arrow behind the `<div>` being a bit hidden. I think this needs a whole new icon.

[2018-08-28 17:15] digitarald commented on #20
New icon as replacing the current style or fixing the line weights of the current one?

[2018-08-28 19:45] yashjohar commented on #20
I agree with @fvsch, the icon is too small, even with a 14x14px box. Having text appear alongside a slightly bigger SVG icon might help. Here's an example:
![reveal](https://user-images.githubusercontent.com/8113279/44746786-f1e29500-ab28-11e8-8e62-f1c3631c8ca4.gif)

[2018-08-28 21:08] violasong commented on #18
Hi Yash, thanks so much for these new icon concepts! After looking at the various options, Martin and I are still liking the "icon with negative spacing" at the top of your first comment best because it looks most clearly like two devices, which seems to be the most straightforward concept (compared to the growing design, or complete overlap which is sort of in between growing and 2-devices.)

Are

[2018-08-28 22:05] bwinton commented on #12
I thought we switched to `San Francisco` for the macOS font...

@natashahockey: In theory, you should be able to download all the fonts from links off of [the Design System](https://design.firefox.com/photon/visuals/typography.html). Please let me know if that doesn't work!

[2018-08-28 22:39] violasong commented on #19
@nchevobbe Hi Nicolas, we're wondering what the best way is to replicate an error like the above screenshot, with lots of key-value info. Could be a handy thing to have in your [test app](https://nchevobbe.github.io/demo/console-test-app.html) too :)

[2018-08-28 23:57] violasong commented on #20
Would be great to have a 10x10 SVG version of this icon, since it will be useful for other situations as well.

In an earlier version of this feature, there was indeed a reveal link on hover, like Chrome's:
<img width="174" alt="image" src="https://user-images.githubusercontent.com/55994/44756911-5da10f80-aae1-11e8-8e68-77f2ece99c5c.png">
In [this bug](https://bugzilla.mozilla.org/show_bug.cgi?id=

[2018-08-29 05:10] nchevobbe commented on #19
You can evaluate the following in the console: `console.error({magenta: "YESSSSSSSS"})`
The `"YESSSSSSSS"` will be magenta.

I like how background colors provide a very distinct look on those messages (ditto for warning).

[2018-08-29 09:07] martinbalfanz commented on #20
@digitarald I meant more the line weight, sorry for the confusion. I like the suggestion with the text appearing alongside, thought that doesn't help quickly scanning the markup view. I'm curious what the slightly bigger (and maybe thicker) SVG would look like :)

[2018-08-29 09:09] fvsch commented on #4
Just confirming that the low contrast in Settings, Network monitor and other places was a regression.

Introduced here:
https://hg.mozilla.org/mozilla-central/rev/a1e6c367f91c#l4.43

That color change was wanted for Debugger sidebars only:
https://bugzilla.mozilla.org/show_bug.cgi?id=1421389#c1

[2018-08-29 09:12] martinbalfanz commented on #12
@bwinton `San Francisco` in general yes, but not as monospaced font (e.g. for the Console).

For reference from our source code:
[code]

[2018-08-29 15:37] yashjohar commented on #18
Hi Victoria. I've attached the 'negative spacing' icon (top most from my first comment) that I made in Sketch to the bug [https://bugzilla.mozilla.org/show_bug.cgi?id=1485185](url). Thanks!

[2018-08-30 10:40] fvsch commented on #4
Closing this issue since the UX need was clarified, and an initial implementation just landed.

[2018-08-30 10:40] #4 closed

[2018-08-30 12:05] fvsch commented on #18
For the frame-picker icon, I tried a few visual concepts. One thing I tried to do was make it a two-state icon, so that it can reflect if the feature is “inactive” (we’re inspecting the main document) or “active” (we’re inspecting a subdocument). I did alternative representations of state with partial black fills and with the blue highlight color (same as the RDM icon active state).

<img width="4

[2018-08-30 21:39] violasong commented on #18
Awesome concepts, and I love the idea of a two-state icon! I see what you mean about the frameset vs non-frameset ideas. I haven't used a iframe in so long, and when I see items in the frames dropdown they're usually a bunch of ads/trackers, so it's hard for me to know how most people think of this. I think this is a good time to ask for more feedback. I'll post it in Slack, and if you wanted to t

[2018-08-30 21:47] violasong commented on #18
(Re: twitter — I just remembered that native polls can't be in the same tweet as an image :P - I generally prefer embedded image, non-native poll, but the other way is fine too)

[2018-08-30 21:51] violasong commented on #18
the same image but horizontalized
<img width="505" alt="image" src="https://user-images.githubusercontent.com/55994/44881354-27d86400-ac64-11e8-99f8-6e23021615ad.png">

[2018-08-30 23:10] ilmoralito commented on #6
@fvsch upps, it's true, thanks for the clarification

[2018-08-30 23:54] violasong commented on #18
(conversation sort of moved back to slack for now :))

[2018-08-31 07:37] fvsch commented on #18
[Twitter post here](https://mobile.twitter.com/fvsch/status/1035430061254631425).

With this updated image:

<img alt="twitter-poll" width="550" src="https://user-images.githubusercontent.com/243601/44899170-55271f80-ad01-11e8-9f2a-0e5d85ce4f47.png">

[2018-08-31 07:47] fvsch commented on #18
We [landed the new RDM icon](https://bugzilla.mozilla.org/show_bug.cgi?id=1485185), but regressed the blue coloring when active. Or was that on purpose?

[2018-08-31 09:28] martinbalfanz commented on #18
@fvsch definitely not purpose. Feel free to submit a patch or comment on Bugzilla 🙂

[2018-08-31 11:10] fvsch opened #24 "Inconsistent accordion hover colors"
Accordion headers (for example the “▶︎ Grid” and “▶︎ Box Model” headers in Inspector>Layout) have different background colors on hover.

In the dark theme, I’m seeing at least 3 colors:

1. Inspector>Rules, Debugger: blueish gray
2. Inspector>Layout, Inspector>Fonts: slightly lighter gray
3. Network details: lighter gray (and missing on the first accordion header in "Headers").

There are 3 differ

[2018-08-31 15:44] violasong commented on #18
@fvsch Gabe will be fixing the blue highlight issue. Thanks for making the new mockup!

[2018-08-31 19:01] violasong commented on #23
This has been completed and added to Invision: https://mozilla.invisionapp.com/share/YVNU09I73WN and Bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1487857 for implementation. Great work Kristin!

[2018-08-31 19:01] #23 closed

[2018-08-31 19:56] fvsch commented on #18
Looking at the feedback we got on Twitter:

- 40-50% are okay with the “frameset” option (B)
- Some like one of the other concepts: frame in the corner, centered frame, or the mini-target concept

Every concept had some valid criticism.
A) may look like “enlarge / minimize the window”, or look like a RDM icon
B) may look like a “layout” tool
C) same as A, and may too busy or hard to read
D) too ce

[2018-09-01 17:06] fvsch commented on #18
I started implementation work using option B (the “frameset” one), in [bug 1488012](https://bugzilla.mozilla.org/show_bug.cgi?id=1488012).
We can still replace the SVG if we decide on a different design.

This is what it looks like:

No iframe selected:
<img width="708" alt="screen shot" src="https://user-images.githubusercontent.com/243601/44948198-c78b2300-ae19-11e8-9a1a-c2b1af641a0e.png">

Ifra

[2018-09-01 17:07] fvsch commented on #18
/cc @violasong for a UI review :)

[2018-09-02 18:26] fvsch commented on #14
For search highlights I don’t know, I’m just not sure that yellow works in those situations.

Definitely up for having more Photon Yellow shades for console warnings, DOM update highlighting and other kinds of "hey, something just happened here" highlightings. But for search, maybe we need something separate. It’s a different type of highlighting IMO.

[2018-09-03 04:38] kriskristin commented on #19
@nchevobbe Thanks

[2018-09-03 08:07] martinbalfanz commented on #18
B is the right choice, let's stick to it.

And yes, next to other icons it doesn't look ideal, but photonizing all the icons is definitely what we're trying to do right now. Maybe we manage a bigger batch for the next release :)

[2018-09-03 11:23] fvsch opened #25 "Toolbox “checked” background might be confusing"
I’m seeing an issue with the Toolbox buttons: some buttons, when clicked, get a “checked” style (that’s the name of the CSS class used), which:

- turns the icon’s color blue
- changes the background (a bit darker or lighter depending on the theme)

I’m having an issue with the background change, because it’s the same color used for keyboard focus, hover, and the “expanded” state of the menu butto

[2018-09-03 11:46] fvsch opened #26 "Photonize toolbox button icons"
“Toolbox buttons” are the optional buttons that appear at the right of the DevTools main toolbar.
In #18 we redesigned the “Responsive Design Mode” and “Pick an iframe…” icons, and it would be great if we could have updated icons in Photon style shipping in the same release (probably Firefox 64, so we have a few weeks).

Firefox's Photon Design System has [precise guidelines for icons](https://des

[2018-09-04 08:08] mcroud commented on #26
The toolbox buttons were indeed discussed last week and are planned for a revision, I'm not sure what the plan would be moving forward though so let's await @violasong

[2018-09-04 17:16] violasong commented on #18
Thank you @fvsch, I agree about sticking with B!

And yes, we can fix the other icons later, especially since some of them need a little rethinking or might need to be removed.

(Just for fun, since I started working on it last week, I'm sharing an idea I had for C - but of course it has the same issues as C with being a little too complex and it would also compete with the Inspector icon.)
<img w

[2018-09-04 20:36] thiagotomasi commented on #15
Hey @violasong, maybe I can get this one!
What would be the best way to start or the main goal of the task?
- Come up with a color pallet based in Photon colors
- Add the colors that you mentioned above in the current Photon colors pallet?
- Describe the color usage with the current color we are using in DevTools?

Sorry for so many questions 😄

[2018-09-05 17:16] violasong opened #28 "RDM toolbar icons"
(assigned to Yash)

This is a bug to track work on the toolbar icons, including rotate, touch, and screenshot.

<img width="572" alt="image" src="https://user-images.githubusercontent.com/55994/45109473-83876f00-b0f4-11e8-83d4-52b490382cb7.png">

[2018-09-05 19:37] violasong commented on #15
It would probably be best to move conversations about this issue over to the design system project: https://github.com/devtools-html/photon/issues/8

[2018-09-05 19:43] violasong commented on #28
Latest variants from Yash:

<img width="383" alt="image" src="https://user-images.githubusercontent.com/55994/45116988-3bbf1280-b109-11e8-9006-db46c0d61dd6.png">

[2018-09-05 19:48] violasong commented on #28
The rotate icon is awesome!

The touch icon is getting really close — I think it's still just a tiny bit too abstract in style and could use some photon-ization. Ideas:
- Fill in the hand so that it's dark
- Adding 3 little bumps for the folded fingers, giving a bit more separation for the thumb, and slight rounded corners for the "wrist" could help make it look a bit more clearly hand-like
- Mayb

[2018-09-06 05:06] yashjohar commented on #28
Thanks Victoria! Those are some really good ideas. I'll see if the hand can be made a little less abstract.

[2018-09-08 04:53] yashjohar commented on #28
The new hand icon:
![rmd-toolbar-icons](https://user-images.githubusercontent.com/8113279/45250458-37853600-b351-11e8-8a18-3a678da1b18b.png)
Let me know what you think. Thanks!

[2018-09-10 04:29] kriskristin commented on #19
I also have some rough ideas that I can totally explore further, if we want to go this route. It's something along the lines of what @jasonLaster suggested. Taking out the background color and indicating warnings and errors by an expanded, color-coded left border and then highlighting a element by outlining it on hover. Look at mostly concept. I didn't fine tune colors at all.

<img width="819" al

[2018-09-11 01:33] violasong opened #29 "Improve Debugger empty UI links"
See [this bug](https://github.com/devtools-html/debugger.html/pull/6917#issuecomment-419353866) for potential concerns about the understated look of the shortcut info/'links' when no tabs are open. Should we simply apply the [photon ghost button](https://design.firefox.com/photon/components/buttons.html) styling, or is there a better solution here?

[2018-09-11 02:10] violasong commented on #14
Thanks Gabrielle for this continued color study and Florens for the explorations!

Re : Error warnings in console: Yes, I like the Yellow 70 .1 opacity background! For the text color, I agree that the current is too peachy but guess I found both  #FFF899 and #FFFF99 to be a tad too lemony 😂 . It's possible I'm just not used to it - I'll play around with this more soon.

Re: Highlight colors: we co

[2018-09-12 15:42] nchevobbe opened #30 "Transform evaluated input in the console"
Hello fellows !
So, there's some work happening in the console to support top-level await evaluation in the console ([Bug 1410820](https://bugzilla.mozilla.org/show_bug.cgi?id=1410820)), which means that the following:
[code]
would display `← "hello"` one second after the user hit  <kbd>Enter</kbd>.

Which leads to an interesting question: in javascript, you can't do `await …` if you are not insid

[2018-09-12 16:08] gregtatum commented on #30
What about wrapping the result in the transformed code, but dimmed out slightly? Maybe combined with some tooltips?

<img width="513" alt="screen shot 2018-09-12 at 11 06 46 am" src="https://user-images.githubusercontent.com/1588648/45438172-19367780-b67c-11e8-8b8b-b2c51e214057.png">

[2018-09-12 16:09] nchevobbe commented on #30
Oh, that could be rad

[2018-09-14 12:01] fvsch commented on #3
Looking at markup rows in the Inspector:

- They render at `15.45px` on my computer.
- They might get rounded to `15.5px` or `16px` on different OSes and resolutions.
- I suggest specifying them at 16px height (for rows with a single line of text).

[2018-09-15 00:29] violasong commented on #10
Another example - perf-html uses a slightly lighter gray https://perf-html.io/from-addon/calltree/?globalTrackOrder=0-1-2&localTrackOrderByPid=16148-1-0~16149-0~&thread=2&v=3

[2018-09-15 03:26] violasong commented on #28
Hi Yash! So sorry for the delay. I really like the changes you made - I just have a few more suggestions if you don't mind. I quickly drew over your latest version in photoshop to show the ideas - wider at top of fist and narrower at the bottom, rounder and taller fist, and more finger definition.

small:
<img width="46" alt="image" src="https://user-images.githubusercontent.com/55994/45581887-51e

[2018-09-16 19:30] violasong commented on #19
Hi Kristin, thanks for working on this! Looking at the different options, I think my favorite is the text color change to purple due to the nice contrast from the red. Another thought I had is we could actually use the string colors in Debugger, which is navy in light mode and indigo for dark mode:
<img width="354" alt="image" src="https://user-images.githubusercontent.com/55994/45600019-e82fad00-

[2018-09-17 14:59] fvsch opened #31 "Improve the “expand arrow” icon"
Currently we are using three different “expand arrow” icons:

1. `devtools/client/themes/images/controls.png` (PNG sprite containing black and white arrow icons)
2. `devtools/client/themes/images/devtools-components/arrow.svg`
3. `devtools/client/themes/images/debugger/arrow.svg` (seems to be a copy of the previous one)

In [bug 1490491](https://bugzilla.mozilla.org/show_bug.cgi?id=1490491) we are

[2018-09-18 19:19] violasong commented on #31
Thanks for all these examples! I think I will likely prefer the 8 x 5 for a neater appearance, with the assumption that these will still be pretty prominent looking and not get lost - would be open to making them darker if that's a concern.

[2018-09-18 23:13] digitarald commented on #26
To help scope this: Scratchpad is on the soon-to-be-removed list (as Console's input work is moving forward) and doesn’t need much attention. Paint flashing is also used sparsely and can be ignored for the MVP.

[2018-09-19 00:04] violasong opened #32 "New dark mode color for white inputs, like empty checkboxes"
Also relevant for inspector inline inputs.
See: Font panel's subtle look and Mac OS Mojave.

From [Buzilla](https://bugzilla.mozilla.org/show_bug.cgi?id=1491811)

[2018-09-21 19:19] kriskristin commented on #19
As I am testing out colors, it seems like it will be a real challenge to find a color that would be accessible in BOTH light and dark modes. (If I'm wrong here, please tell me.)

I'm putting together some more options today. I have been referencing the searchfox/devtools/.../variables.css as a starting point as well as photon colors and color guidelines. Any other direction I should explore or sug

[2018-09-24 21:29] kriskristin commented on #19
I've tested accessibility in colors already used in the variables.css file and the photon colors that would be appropriately used here. I am not able to come up with a color that would work in both dark AND light modes. I also want to be sure that the color used communicates 'warning' or 'error'. Take a look at what I have come up with. I used pure photon colors here in light mode and then have sh

[2018-09-25 01:41] yogmel commented on #17
Hi people!
Having a look at the Call Stack on the Debugger tabs, it looks like the font-weight is set to light (100), as @violasong has pointed out.

That being said, I have tested setting it to normal. Does it look ok to you?
![00](https://user-images.githubusercontent.com/3901809/45987966-ac8f8580-c04a-11e8-86d6-4712b9956e93.PNG)

The selector for this style is .frames .location, in the file deb

[2018-09-25 06:38] nchevobbe commented on #19
thanks a lot @kriskristin !
I'll defer the final decision to @violasong , but I really like the "Photon red-70" one. The pink used for the dark mode looks good to me

[2018-09-25 15:34] kriskristin commented on #19
thanks for looking it over @nchevobbe. I agree with you that Photon red-70 seems to get the job done most clearly and effectively. There is a thread on the #ux slack channel about possibly defining some equivalent colors to be used in devtools dark mode...I'll plan on testing some other colors based on that feedback.

[2018-09-25 19:48] caterinasworld commented on #15
I started working on these in relations to breadcrumbs. Happy to share my notes, but they're not that comprehensive yet.

[2018-09-25 20:31] yogmel commented on #10
Hi!
Can I give this issue a try?
@violasong I couldn't open the link above :( is there any print screen I can use as a reference?
Also, is there any information I should know? I will experiment some color combinations with the Browser Toolbox Inspector and update you here, if that sounds ok.

Thanks!

[2018-09-26 22:50] violasong commented on #10
Hi! Ah, looks like that link stopped working - here's what the table looks like:

<img width="715" alt="image" src="https://user-images.githubusercontent.com/55994/46113571-cb555f80-c1a3-11e8-8bca-222dc7aa4ba0.png">

[2018-09-27 03:31] kriskristin commented on #19
Getting closer:

--red-70 for the warning in light mode

Worked through the progression of creating what would be --red-20 to be used in dark mode.

Both pass AA testing.

<img width="746" alt="screen shot 2018-09-26 at 10 30 11 pm" src="https://user-images.githubusercontent.com/12438022/46121947-d4622300-c1db-11e8-84e1-d3f97347946b.png">

[2018-09-27 04:28] yogmel commented on #17
Hi @violasong! Just letting you know I've made the PR. If there is anything you would like me to change, please feel free to contact me!

[2018-09-27 06:50] fvsch commented on #10
Looks like the gray stripes are `#f5f5f5`. (Maybe achieved with black at 4% opacity: `rgba(0,0,0,0.04)` on white.)

Agreed, that would be ideal. (Another option is to have a hover color that is darker (in the light theme) than the zebra stripes. Part of the confusion is how the light blue used on hover and the light gray for zebra stripes have almost the same luminosity.)

[2018-09-27 13:33] nchevobbe commented on #16
Trying with the `--object-color` var looks nice too:

<img width="783" alt="image" src="https://user-images.githubusercontent.com/578107/46149224-23ef3000-c26a-11e8-9756-3fe866a05545.png">

<img width="777" alt="image" src="https://user-images.githubusercontent.com/578107/46149197-1639aa80-c26a-11e8-88cc-3f80aade2baa.png">

---

or with the same one used for the location:

<img width="780" alt="im

[2018-09-27 13:39] savvysiddharth commented on #16
yeah this one looks nice :+1:

[2018-09-27 20:51] violasong commented on #19
Wow, thanks for all your work in analyzing this! This red70/20 pair looks great. (And the -20 color values will be useful for all kinds of purposes.)

Let's get this implemented! I can pass this along to one of the outreachy folks.

[2018-09-27 20:53] #19 closed

[2018-09-28 13:39] fvsch commented on #16
I like it so far.
Color: I prefer the lighter blue (`--object-color`) over the darker blue, especially in the dark theme.

The part I'm not sure about is the blue-vs-gray border.

- For: it clearly signals a change in context (which means that the previous JavaScript execution context is mostly gone).
- Against: it's not consistent with DevTools' use of subtle borders.

So I would probably keep th

[2018-10-08 16:43] bryanbell commented on #5
One of the main issues with the reader mode is that it relies on a sidebar toolbar, which is easily missed by users as they scan down the page visually.  Longtime Reader Mode Users have been known to overlook the Save to Pocket and Narrate options.

Moving these to the top of the screen and inline with the content of the page would go a long way to drawing attention to these handy features.

Abe h

[2018-10-10 21:40] chris-at-jobber commented on #13
I'll take on this one!

[2018-10-11 02:13] violasong commented on #16
Sorry for the delay in responding to this! This is all great work - I love the globe icon and use of --object-color.

As for the lines, I would also keep the gray over the blue - I feel the blue lines start to get overpowering and are a bit too different in style. However, in dark mode, those gray lines do seem very subtle against the gray of the console. If we need those rows to be more prominent

[2018-10-11 02:18] violasong commented on #17
Great work @yogmel! Sorry for the delay - I see your work was merged and committed, so I will close this bug :).

[2018-10-11 02:19] #17 closed

[2018-10-12 07:59] nchevobbe commented on #16
got it, thanks for your input @violasong !

[2018-10-12 21:55] violasong commented on #15
Hey Caterina! Would be great to see what you have so far so that we can think where to put the info.

[2018-10-15 10:46] fvsch opened #33 "Sticky buttons in HTTP request editor (and other places?)"
When discussing the Network request editor in [bug 1493931](https://bugzilla.mozilla.org/show_bug.cgi?id=1493931), I suggested that the top-right buttons may disappear from the user's view if the user has to scroll.

On laptop screens, which are commonly 768px or 800px tall, the content window may be just 650px or 700px tall. If devtools are docked to the bottom, they may be 300 or 350px tall. If

[2018-10-15 12:40] captainbrosset commented on #25
I don't remember discussing about this color change. But I wouldn't be against it.

[2018-10-15 14:58] yogmel commented on #10
Hi all, so sorry for the delay :(

I have tested on both Network and Storage tabs.

[ORIGINAL - Network]
![01_01](https://user-images.githubusercontent.com/3901809/46958628-a2244280-d070-11e8-9771-af0ac8efccc2.jpg)

[TRY - Network]
![01_02](https://user-images.githubusercontent.com/3901809/46958695-cc760000-d070-11e8-9e68-a6c6033fcb70.jpg)

For this, I have changed the colors of the odd rows and h

[2018-10-15 23:58] violasong commented on #25
Wait, first of all, I see you have your way better looking iframe icon - could that get landed :D? (I know there was the question of all the other non-photon icons but I felt it would still be worth it as the one default toolbox icon. I'll check with Martin on this.)

Secondly, am I going nuts or are the thick lines in the icons doorhanger menu thinner than the thick lines in the iframe icon? I re

[2018-10-16 00:33] violasong commented on #25
Probably my favorite solution would change the look of the icon to emphasize the action, as you  explored in your iframe ideas
<img width="305" alt="image" src="https://user-images.githubusercontent.com/55994/46985477-871cf700-d09f-11e8-9bcc-f2fc410d064b.png">

E.g. a few quick ideas
<img width="97" alt="image" src="https://user-images.githubusercontent.com/55994/46985590-13c7b500-d0a0-11e8-94f6-6

[2018-10-16 07:06] fvsch commented on #10
This looks great IMO.

The "Last accessed on" column happens to have a `rgba(0,0,0,.1)` background on the column container (it's a XUL table where cells are grouped by column, unlike HTML tables which are grouped by row). So initially we had to RGBA blacks combining, and in your test the odd rows have the `rgba(0,0,0,.1)` background and the even rows have your lighter opaque zebra color.

We have

[2018-10-16 07:34] fvsch commented on #25
The patch implementing the frame picker two-state icon is in [bug 1488012](https://bugzilla.mozilla.org/show_bug.cgi?id=1488012), currently in review.

I'm also in favor of having unfilled and filled icon variants for the "Select and element" and RDM icons.

[2018-10-16 11:03] janodvarko commented on #10
I like the new zebra color on the Network monitor!
Happy to R+ working patch for it.

Thanks for helping with this!
Honza

[2018-10-16 12:05] fvsch commented on #25
I tried the picker icon with a darker fill for the arrow, but the difference was not striking at the icon's actual size. So I did another test which adds a background to the frame, and removes the arrow's background to make it more contrasted:

![developer tools - pick icon](https://user-images.githubusercontent.com/243601/47014874-c3a62c80-d14b-11e8-843a-e933fca00e43.png)

(Actual result at 1x.)

[2018-10-16 18:52] fvsch commented on #25
Here's the result of using the "when active, color the background of a meaningful part of the icon" pattern for the Pick an element, Frame picker button and RDM button:

![Dark theme](https://user-images.githubusercontent.com/243601/47039635-ae99bf80-d184-11e8-9af2-083f76e33903.png)

![Light theme](https://user-images.githubusercontent.com/243601/47039659-be190880-d184-11e8-927f-b2390c66dcbc.png)

[2018-10-16 20:45] violasong commented on #25
Nice - this is actually the next thing I started working on yesterday, but I wasn't sure if the cursor stood out enough, even with 2px outlines:

<img width="84" alt="image" src="https://user-images.githubusercontent.com/55994/47044429-044e7780-d145-11e8-88ce-9cd22325eda0.png">

What if we made the cursor arrowhead 1px larger? Also, I would actually suggest a lighter opacity in light mode (.15 her

[2018-10-16 20:58] violasong commented on #25
[picker icons.zip](https://github.com/devtools-html/ux/files/2484874/picker.icons.zip)
SVGs attached.

Apologies for the jankiness in both these files, but I'm expecting you'll have a much easier time fixing them than I will 😅

[2018-10-17 06:05] fvsch commented on #25
I like the bigger arrowhead. Slight preference for the stroke-only one:

<img alt="image" src="https://user-images.githubusercontent.com/55994/47044429-044e7780-d145-11e8-88ce-9cd22325eda0.png" width="84">

But the other one looks good too.

Have we already tried using a 2px stroke for the frame? This would be closer to the Photon guidelines, but one risk is making all our icons looks the same. St

[2018-10-17 12:45] yogmel commented on #10
Hi all,

@fvsch thanks for the info! I managed to change the colors. I have changed the opacity, so it doesn't look so contrasting, but people can still tell there's a difference (maybe?).

[1st TRY - Storage]
![02_02](https://user-images.githubusercontent.com/3901809/47086362-a2971780-d1ef-11e8-9c56-ca4bf00832fb.jpg)

[2nd TRY - Storage]
![02_03](https://user-images.githubusercontent.com/3901809/

[2018-10-17 18:45] fvsch commented on #25
All three buttons at 1x, with the highlight backgrounds at 0.15 opacity (using the same color as the strokes) with running code:

![screenshot](https://user-images.githubusercontent.com/243601/47108956-524ea280-d24d-11e8-83fa-6f9c8d2a5d5a.png)

I made the arrow a bit less strong because otherwise it looked too blurry at 1x.

[2018-10-17 19:14] violasong commented on #25
Ah nice, looks like you might have enlarged the whitespace in the arrow? It seems a bit more clear than in my versions.

I gave a attempt at 2px and it seems pretty intense due to no use of 1px, and because it's pretty far away from the other photon style icons.
![2px picker](https://user-images.githubusercontent.com/55994/47110593-252ad180-d206-11e8-8c8d-f6e18a34a527.png)

Your latest screenshot

[2018-10-18 07:13] fvsch commented on #25
For implementation: [bug 1499987](https://bugzilla.mozilla.org/show_bug.cgi?id=1499987)

[2018-10-18 07:18] fvsch commented on #25
Thanks for the 2px box test. Indeed it looks a bit out of place for now. Let's go with my screenshot above, and I'll try to work on the arrow a bit in Sketch or Illustrator to prevent some of the blurry pixels that remain (there are two blurry pixels on the left and top of the arrow's point, I'd like to avoid them).

I think the arrow's hollow is larger because I made the stroke a bit thinner, whi

[2018-10-18 13:42] fvsch commented on #25
I've redrawn the arrow to make it crisper at 1x:

![screenshot - inactive states](https://user-images.githubusercontent.com/243601/47158021-fa667900-d2ea-11e8-8919-7de228da9983.png)

Active look:

![screenshot - active states](https://user-images.githubusercontent.com/243601/47158162-56c99880-d2eb-11e8-97b4-45ce9661c2e8.png)

And I've fixed the `command-pick-accessibility.svg` image which had a mi

[2018-10-18 21:12] violasong commented on #5
Hi @caterinasworld and @Gabiskandar! Just wanted to check if you want to keep working on this - I would also love to see anything you might already have done :).

We now have an internal person who can take this on, so no worries at all if you need to pass on this. Thanks!

[2018-10-19 16:34] fvsch commented on #25
I pushed the icon changes, so it should be in tomorrow's Nightly.

Remaining issue: the background color.

[2018-10-22 12:43] fvsch commented on #16
This landed in Nightly, but I'm unsure about two details:

1. When the first item is a navigation log, we end up with a double border. This can be fixed in CSS by excluding `:first-child` items or resetting their top border.
2. It feels a bit strange to have this slightly darker border color in between the lighter splitters. I would rather use the normal splitter color rather than the "emphasized"

[2018-10-23 06:11] aburone commented on #33
I see that someone else is working in bug 1493931
If he doesn't make it sticky, I can do it.
WTW I would  prefer the buttons after the form

[2018-10-23 06:29] aburone commented on #24
Network
In response headers and request headers there's more inconsistencies. Seems like the styles are changed with js.
Go over one header and you have a background-color. Click and the background-color is gone.
Go over the other header and click it. Now the first header has his background again
---
What should be the background-colors on hover for all those headers?
Looks like the ideal situatio

[2018-10-23 07:49] aburone commented on #9
How about this?
.ruleview-overridden span {
  text-decoration: wavy underline rgba(0,0,0,.2);
  filter: grayscale(60%);
  opacity: .8
}

.theme-dark .[ruleview-overridden] span {
  text-decoration: wavy underline rgba(255,255,255,.2);
}

[https://send.firefox.com/download/97b15c5010/#8WUQwb0hmpxY6UHyk5LyRA](url)

[2018-10-23 08:48] aburone commented on #9
How about this?
.ruleview-overridden span {
  text-decoration: wavy underline rgba(0,0,0,.2);
  filter: grayscale(60%);
  opacity: .8
}

.theme-dark .[ruleview-overridden] span {
  text-decoration: wavy underline rgba(255,255,255,.2);
}

[https://send.firefox.com/download/97b15c5010/#8WUQwb0hmpxY6UHyk5LyRA](url)

[2018-10-23 08:52] aburone commented on #7
Hi. Which one would be the good focus ring?

[2018-10-23 11:10] janodvarko commented on #24
I think that we should use the same styiling & design as the Fonts side-panel in the Inspector panel.
And if there are css variables we can use - even better.

I am unsure about what var is the right one. I am also seeing:

--accordion-header-background

@mcroud Any pointers what CSS var to use for headers in side panels?

Honza

[2018-10-23 11:43] fvsch commented on #7
The Photon design system [defines focus styles for buttons](https://design.firefox.com/photon/components/buttons.html#default-4) as:

[code]

We could use this style, but Photon elements are often 50% bigger than DevTools elements. So maybe we need to adapt it.

Personally, I would love it if each interactive element could have a 1px border (transparent by default, if the design doesn't use a bord

[2018-10-23 12:45] fvsch commented on #31
For the record, we just removed the old PNG icons in Nightly (after the beta merge so it's not in beta 64, only in Nightly 65). We're using the existing SVG icon (top row).

Since we're using the same 16px SVG icons at 9px and 10px sizes, we are getting some differences and imprecise results, especially on 1x displays. It looks okay, but not perfect. I'd like to fix and harmonize that during the 6

[2018-10-24 13:05] nchevobbe opened #34 "Better Callstack Frame groups"
In the debugger, the callstack panel detects when frames originates from a library and group them together in order to give the user a more digest callstack (the code they're interested in is most likely *not* in the library/framework source).
Here's how it looks:

<img width="355" alt="image" src="https://user-images.githubusercontent.com/578107/47431928-460e9c00-d79d-11e8-8316-00bd6aa32a9b.png">

[2018-10-24 13:12] nchevobbe commented on #34
Let's go with a naive thing: we could have a text to expand/collapse the group:

[code]

we already have a similar mechanism in this panel (by default, we only show the last 7 frames):

<img width="287" alt="image" src="https://user-images.githubusercontent.com/578107/47432683-0d6fc200-d79f-11e8-8009-8c7ede0a5132.png">

once expanded, you can collapse them:

<img width="281" alt="image" src="https

[2018-10-24 13:16] nchevobbe commented on #34
We could also only display the framework name and icon, with a triangle (as its something we have everywhere in devtools):

[code]

[code]

It depends on how useful we think it is to show the last frame of a group.

[2018-10-24 14:46] mcroud commented on #24
There's a lot of variation here! I've taken to making a bit of a visual audit.

![toolbar-audit](https://user-images.githubusercontent.com/42435754/47438214-eff02780-d7a1-11e8-86d7-21bac8f9f66e.png)

[Toolbar header hover audit](https://mozilla.invisionapp.com/share/W4OR7SIJ6HP#/327459059_Toolbar_Header_Audit)

The Fonts panels "All font on page" header is the most compliant in light mode using `-

[2018-10-24 17:01] fvsch commented on #24
Using Grey 20 / Grey 80 looks like a good option.

It seems we often use `cursor:pointer` for some elements which have no :hover styles or for small icons (e.g. some icons in the Inspector), but it looks like it's the exception more than the rule. So I would remove `cursor:pointer` (using `cursor:default` instead) for non-links, as long as we provide a not-too-subtle hover effect.

[2018-10-24 17:02] fvsch commented on #24
The cursor thing is a good example of something which could be discussed and codified in a UX style guide, so we can make consistent improvements over time.

[2018-10-24 17:13] fvsch commented on #34
Two other variants:

[code]

(With the "17 more..." line acting as a button to reveal collapsed frames.)
I like it but if we have several collapsed groups, we're going to have a lot of repetition.

So maybe something compact like:

[code]

Not sure we need the arrow. The "(+N)" pattern may be enough to suggest that there is extra content, and to differentiate from the console count badge (especial

[2018-10-25 00:47] aburone commented on #7
OK. Sooo. Do I start hacking around and put a PoC here?
I've read the proton style guide. Is there one for the devtools (specially the dark theme)

Shall I create a bug for every instance of inputs with the wrong focus (that would be madness IMHO)

Also I realize that ie RDM styles are totally isolated from other tools. But in the inspector the changes I tried with other bug affected the settings.

[2018-10-25 07:03] fvsch commented on #7
The code is the documentation. ;)

Some stylesheets are generic and loaded in most all contexts, including:
- `devtools/client/themes/variables.css`
- `devtools/client/themes/common.css`

Some stylesheets are loaded only by a given tool, they can be in the `devtools/client/themes/` folder or in a tool's own folder (`devtools/client/foo`).

[2018-10-25 09:56] aburone commented on #7
Perfect. When I have something to show, shall I upload a patch in a bug report? Or is there another preferred way?

[2018-10-25 09:59] fvsch commented on #7
I think you can create a bug, e.g. "Explore new focus ring styles in Netmonitor", and reference this issue.
Then you can upload a patch to Phabricator (with `r=fvsch`). I'll note in the bug that we won't merge it.

[2018-10-25 16:47] aburone commented on #7
Florens I created a html file with the basic idea and the different triggers.
I used different focus color for dark and light themes.
Everything is defined in variables for easier tinkering.

Let me know how far away of the mark I've got so I can create a better PoC in the actual devtools.
https://bugzilla.mozilla.org/show_bug.cgi?id=1502098

[2018-10-25 18:49] violasong commented on #7
Hi @aburone and @fvsch, I'm so happy to see you working on this bug and I would really like to help more with this. I'm currently needing to focus on some tight deadlines coming up so I can't think about this much right now. I'm happy to go with Florens' plan and jump back in with feedback sometime next week when I'm able to. Thanks so much!

[2018-10-26 09:06] mcroud commented on #24
Totally agree!

[2018-10-26 09:30] nchevobbe commented on #34
See how this could be done in the debugger:

Collapsed:
<img width="376" alt="image" src="https://user-images.githubusercontent.com/578107/47557943-441a1980-d912-11e8-9845-0f49673122c1.png">

Expanded:
<img width="391" alt="image" src="https://user-images.githubusercontent.com/578107/47557978-5b590700-d912-11e8-9ec1-c41d5c7ace35.png">

[2018-10-26 09:39] nchevobbe commented on #34
With the `+N` text:

<img width="390" alt="image" src="https://user-images.githubusercontent.com/578107/47558493-8ee86100-d913-11e8-90fb-08bd17b883cd.png">

<img width="377" alt="image" src="https://user-images.githubusercontent.com/578107/47558533-a7f11200-d913-11e8-8393-2e63e6557201.png">

[2018-10-26 09:48] nchevobbe commented on #34
One thing to note, in the last screenshot, I modified the Group code to not show the last frame *in( the group when it is expanded.

At first this sounds reasonable, but now I see an issue: clicking on `callCallback` only toggle the group, and as a result, we can't navigate to `callCallback`.

Which might help us in our task here. For me it feels weird that we are displaying something which looks

[2018-10-26 16:46] fvsch commented on #34
I like the one with `firstFrame (+N)` in https://github.com/devtools-html/ux/issues/34#issuecomment-433350259

It's indeed missing a visual indicator that this is an expandable header, so we could have a twisty icon on the left: `▶︎ firstFrame (+N)`

But there's a risk this could be confused with headers.

One way to differentiate, beyond the header borders and background, would be to make sure th

[2018-10-30 14:29] jasonLaster commented on #34
Perhaps another comparison is how chrome shows async boundaries in the call stack
`-- setTimeout --` or whatever.

One other thought, which was never really acted on is that we want to know what the group is
e.g. `_renderValidatedComponentWithoutOwnerOrContext` -> 'Rendering'

here are the current mappings. I think we could do a better job of adding more mappings too and in the future let web exte

[2018-10-30 15:23] nchevobbe commented on #34
Here's the an example of what chrome does, in console
<img width="252" alt="image" src="https://user-images.githubusercontent.com/578107/47728826-676cfd80-dc5f-11e8-9899-5d04f445305e.png">

and in debugger:
<img width="311" alt="image" src="https://user-images.githubusercontent.com/578107/47728956-9f744080-dc5f-11e8-89e8-bd6d19c91b47.png">

So I guess what Jason is saying is that we could have
[co

[2018-10-30 15:30] jsomedon commented on #34
Just saw you mentioning this on slack channel, so here is opinion coming from someone just started playing with debugger.html couple days ago with extremely limited experience about firefox devtools, and js debugging in general.

The ▶︎ is already used for expanding "Watch expressions" and "Breakpoints" tabs (actually, how do you guys call this, tab? section?) so if I see ▶︎ for grouped frames, my

[2018-10-31 07:44] fvsch commented on #34
For comparison's sake, we already use this symbol for expandable content in panel content, not just panel headers. See the Inspector (markup view, Rules, Layout>Box Model, Fonts) and Console (for collapsed errors, objects, and network requests).

[2018-11-07 10:53] fvsch commented on #31
Sketch file for the screenshot above:
https://www.dropbox.com/s/4793iidao2whftu/arrow.sketch?dl=1

SVG code for B option, after cleaning it up a bit:

[code]

[2018-11-07 11:12] mcroud commented on #34
Could someone provide me with steps to generated a prime example of this, where I can see I hefty grouped library of frames and with additional, non-grouped items?

[2018-11-07 11:22] nchevobbe commented on #34
You can go to https://nchevobbe.github.io/demo/console-test-app.html , and then
1. Open the debugger
1. Search for the `reducers.js` file
1. Add a breakpoint on in `handleLog` (e.g. on `if (action.data)`)
1. In the content page, scroll to the bottom, and in the "React/Redux" section, click on the "trace" button <img width="757" alt="image" src="https://user-images.githubusercontent.com/578107/4812

[2018-11-09 10:33] janodvarko commented on #10
Ah, this has been forgotten!

Please file a bug in Bugzilla, using this link:
https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools&component=Netmonitor

Attach a patch to the bug and ask me for review.

Thanks!
Honza

[2018-11-12 08:12] fvsch commented on #31
Filed for implementation:
https://bugzilla.mozilla.org/show_bug.cgi?id=1506516

[2018-11-12 16:42] fvsch commented on #31
@violasong @mcroud You should be able to [download a Mac build with the updated icon here](https://queue.taskcluster.net/v1/task/HNa3YRolQ8WIbP8fQ0oM5Q/runs/0/artifacts/public/build/target.dmg). Could you try it, with both the light and dark theme, and tell me if it looks good for you?

Things to look at:
- All the expand icons in Inspector
- Expand icons in Network request details
- The expand ic

[2018-11-12 16:46] fvsch commented on #31
Oh, and I've changed the arrow color to make it just a little bit more contrasted. I've kept that change subtle, but I think it compensates for the small size.

[2018-11-13 17:30] fvsch commented on #31
New icon is landing in Nightly tomorrow. We still need to update it in Debugger and Reps (used in some parts of the Console).

[2018-11-16 00:08] violasong commented on #31
The expand icons look super good. Thanks for your work on this!

[2018-11-16 00:31] violasong commented on #10
Hi @yogmel! Sorry from the delay in responding to this, but I love the 2nd try - I think it would look even better if the alternate "Last Accessed on" background colors were switched.

[2018-11-16 00:50] violasong commented on #9
Hi @aburone, I'm so sorry for the long delay in responding to this! I really like where you are going with this.

I think I would keep the strikeout line and make it a little darker so it's more clear. The partial grayscale is a great idea, and I realized we could actually match the markup view's colors for this.

Something like this is what I'm thinking (except with the actual inspector inactive

[2018-11-16 00:56] violasong commented on #9
And to respond to @fvsch:

Re: 1 — this really does seem like it should preserve the /* */ cc: @gabrielluong
Re: 2 — With Changes, we ended up deciding that the cleanest/most empowered way to interpret user-unchecked rules was to treat it like deleted, so I think the /* */ is unnecessary

[2018-11-18 20:14] fvsch commented on #7
We have a design proposal ready for review at https://bugzilla.mozilla.org/show_bug.cgi?id=1502098#c16

[2018-11-19 13:06] yogmel commented on #10
Hi @janodvarko I have created the issue in this link: https://bugzilla.mozilla.org/show_bug.cgi?id=1508241
I will check how I create a patch and if I have any questions I'll ask them here.

Hi @violasong I will change the colors and post it again here as soon as it's done.

[2018-11-20 19:13] violasong commented on #21
Extra commentary:

Some people have requested a button to "reset settings to default." Maybe we should do this, but I bring it up primarily to point out the fear people have in changing the DevTools settings and messing something up.

Doing some organizing of settings into a more prominent "most people want to change these" settings and a less prominent (with more explainer text) for "really weird

[2018-11-22 08:58] nchevobbe commented on #34
Hello @mcroud , did you get a chance to experiment with this?
Since we're shipping the SmartTrace in console in 65, it would be nice if we could have the new design at the same time :)

[2018-11-22 08:59] nchevobbe commented on #34
(also, we got a bug report for the console about the badge being confusing, which indicates that something needs to be done for this element)

[2018-11-22 11:17] mcroud commented on #34
@nchevobbe I haven't I'm afraid :( I can give time to this on Monday and have something to show at the end of Monday, is that too late?

A few comments based on the discussion so far:

I would be keen on first exploring ideas which avoid using a collapse/expand triangle first to avoid confusion with pane headers. When expanded, if we are giving the group a light grey background it looks to have th

[2018-11-22 12:48] nchevobbe commented on #34
sorry, I meant to say the element with how many frames are in the group (e.g `(18)`)

[2018-11-23 07:01] ruturajv opened #35 "Network Monitor Search"
The current network monitor search is great, has got a huge search input box for complex searches, however I feel it lacks the "invite" gesture. Eg. the table headers have a hover gray-color, It'd be great if the search box too has a `:hover` border similar to the `:focus`

![netmonitor-search](https://user-images.githubusercontent.com/227817/48931298-93f0fe00-ef1b-11e8-88bc-c95c3cca8c0a.gif)

[2018-11-23 16:49] mcroud commented on #34
I found some time today to produce some visuals.
Take a look at A, B, C and D in the mockup. the designs use a mix of existing behaviours. Despite my earlier concerns with using the arrows, when accompanied with some inset spacing I think it's absolutely a solid choice.

https://mozilla.invisionapp.com/share/34P9W25EV8K#/333068574__ (Invision)

![callstack-frames_2x](https://user-images.githubuser

[2018-11-24 10:16] fvsch commented on #34
Hard to say, I like them all. I'd say they're all solid choices.

Other than that:

- Just a detail: in all mock-ups, the `handleLog` line should not be highlighted in the second step (D is correct, A-B-C are not).

- For the collapsed state, visually my favorite is A. I don't mind not having the frame count, since the point is to hide frames that are not relevant for users ("this is library code

[2018-11-26 07:02] nchevobbe commented on #34
I agree a lot with @fvsch , A is the more attractive, and we also should keep a way to collapse those frames again.

One small visual nit on A would be to not run the horizontal line right to the border, but align its end with the end of the line number

<img width="773" alt="image" src="https://user-images.githubusercontent.com/578107/48997818-79a06580-f151-11e8-8439-dcf631a8dd94.png">

Otherwise

[2018-11-26 09:55] mcroud commented on #34
@fvsch This is what happens when you update a Sketch Symbol moments before exporting! Thank you for the concise feedback.

@nchevobbe Great! This gives me clear direction for the next iteration.

[2018-11-26 20:02] violasong commented on #34
Hi Matt! I haven't been paying attention to this whole thread but hopefully you won't mind if I drop in with one quick idea for option A:

The centered line makes me think of separation due to how gray horizontal lines are used elsewhere in Devtools (e.g. Inspector Rules), so I'm wondering if we could do something else here. I guess the ellipsis icon may not be prominent enough without the line?

[2018-11-27 01:52] kriskristin commented on #11
I would like to do some work on this. Do you think this would permanently show while in RDM?

[2018-11-27 13:12] mcroud commented on #34
@violasong Thanks for the feedback, I'll certainly take that point into consideration for the next mockup! Cheers.

[2018-11-27 16:43] mcroud commented on #34
Taking **A** from the last batch and applying everyone's feedback I have produced another four variations.

@violasong In answer to your previous question, yes I see clicking on the framework name having the same affect as clicking the ellipses badge.

https://mozilla.invisionapp.com/share/34P9W25EV8K (Invsision)

Which feels right to you!

![callstack frame group 2_2x](https://user-images.githubu

[2018-11-27 16:50] fvsch commented on #34
In order of preference:

1. B for the minimalist approach.
2. C for a visually richer approach. (A is similar and is okay too, but I slightly prefer C.)

[2018-11-28 03:44] violasong commented on #34
Ah, interesting 😅 - my favorite is D, as I still see the vertically
centered gray/blue lines as too much of a departure from DevTools/Firefox
styles. If we just need to emphasize the expanded part, I think there are
other ways to do that with either more indent, disclosure arrow, etc.

On Tue, Nov 27, 2018 at 8:50 AM Florens Verschelde <notifications@github.com>
wrote:

[2018-11-28 10:18] mcroud commented on #34
Another suggestion might be utilizing the other Photon arrow design (https://github.com/FirefoxUX/photon-icons/blob/master/icons/desktop/arrowhead-down-12.svg) as a sort of secondary disclosure arrow. Still recognizable yet different enough to avoid confusion with panel headers?

[2018-11-30 02:58] violasong commented on #34
Ah, based on about:home I think that that chevron arrow is meant to be shown after the heading. I actually think using the standard DevTools disclosure arrow would be fine, and might make the ellipsis unnecessary -- looking back at your previous Nov 23 mockup, I think B looks great!

One more idea for tightening up the look - I think the rows seem a little tall compared to the size of the accordio

[2018-11-30 08:57] fvsch commented on #34
24px-tall rows might be doable too, if that seems to look better.
In https://user-images.githubusercontent.com/243601/44299674-12297d00-a2fb-11e8-87d5-d16786ec0062.png the "large content row" option is wrongly labelled, the single-line one is 24px and not 20px.

[2018-12-07 13:33] nchevobbe commented on #34
do we have an agreement here? I'd love to work on that before the end of the year

[2018-12-07 13:51] nchevobbe commented on #16
I created https://bugzilla.mozilla.org/show_bug.cgi?id=1512621 for the double border thing.

[2018-12-07 14:45] mcroud commented on #34
B from the 23 Nov batch seems to be a positive suggestion for everyone, I will also take into the mix Victoria's suggestion of implementing fvsch's new height values and provide a mockup which might be the last. Hopefully get this done today

[2018-12-07 15:00] nchevobbe commented on #34
Thanks a lot Matt and all, no worries if it's not today or next week. I
think it won't take long to implement, so we're not in a hurry

On Fri, Dec 7, 2018 at 9:46 AM mcroud <notifications@github.com> wrote:

[2018-12-07 19:49] mcroud commented on #34
Here we are! I thought I would present two variations based on popular choices of row height, we have the 20px row height and 24px height here. Interestingly developers who saw these mockups over my shoulder voiced their preference for the more compact design A.

[Invision](http://mozilla.invisionapp.com/share/3WPIPX39ADN#/335776861_Callstack_Frame_Group_3)

![callstack frame group 3_2x](https://u

[2018-12-07 21:46] fvsch commented on #34
I tend to like the 24px version better (B), but it's interesting that developers may prefer more compact information.

Did you use a 12px or 11px font size? It seems currently most of the Debugger's right panes use 12px, while the Sources pane and source code are 11px. So I would probably try to use 11px here, and maybe 11px with 20px high lines will work nicely then.

I would also try to add 4px

[2018-12-07 22:09] fvsch commented on #2
More discussion happened around https://bugzilla.mozilla.org/show_bug.cgi?id=1508036 (line-height for the markup view).

So far we decided to go with `font-size: 11px; line-height: 15px;` for the markup view, and we would like to expand it to more places (Rules, Console, Debugger, basically everything that looks like code).

[2018-12-10 09:08] fvsch commented on #14
The Console warning colors were aligned with Photon Yellow.

I think we could focus on picking colors and styles for 3 highlights:
- Inspector DOM change highlight (in the markup view)
- Inspector Rules search/filtering highlight
- Debugger text search highlight

Maybe we could keep yellow for the DOM change highlight (it's a kind of "warning" that flashes briefly), and go for green for the differ

[2018-12-10 10:23] fvsch commented on #14
[Debbugger issue 6744](https://github.com/devtools-html/debugger.html/issues/6744) shows this is problematic, because the highlight can be made of several small elements. So we should probably avoid that style.

A. Here’s a test with Green 50 and black text for currently focused search result, and Magenta 70 and white text for other search results:

<img width="534" alt="screenshot" src="https://u

[2018-12-10 20:08] darkwing commented on #14
Once a decision is made on this, please ping https://github.com/devtools-html/debugger.html/issues/6744 to let us know the decision.  Thank you!

[2018-12-11 11:43] fvsch opened #36 "Photonize toolbox tab icons"
As discussed last week, we'd like to update the tools icons (Inspector, Debugger, Console, etc.) to follow a Photon-compliant (or at least Photon-inspired) look.

Note: we have issue #26 on file for the right hand button icons.

I did a first pass using existing icons from https://design.firefox.com/icons/viewer/ for Console, Performance and Accessibility. For the other ones I tried to adapt exist

[2018-12-11 12:20] nchevobbe opened #37 "Console Reverse-search feature is not discoverable"
On OSX, you can trigger it with <kbd>Ctrl + R</kbd>, on Windows and Linux, with <kbd>F13</kbd>.
There is no button in the UI that allow to open the reverse search UI, and it probably hurts the discoverability of the feature.

[2018-12-11 12:37] nchevobbe opened #38 "Console Search/Filter"
In the future, we might want to expose a "Search" UI in the console, similar to the one that exists in the debugger, as opposed to the Filter UI we currently have.

This does not mean the Filter UI will go away as we do want people to be able to both search and filter at the same time.

---

One idea that was brought during a meeting last week was that the filter UI could be moved along the existi

[2018-12-11 12:44] mcroud commented on #37
I'll add here that this requirement was discussed alongside the console multiline feature, it might be a good idea to explore the same type of mechanism for revealing/toggling the UI of these two items, or at least considering both when working on one.

[2018-12-11 12:49] nchevobbe opened #39 "Console Multiline mode"
In Q1, we want to revive a Firebug Console feature into DevTools: multiline editor.

Basically, the user would switch to a mode where the console input and the console output would be side-by-side, like in this screenshot (but with the input on the left and the output on the right to match known repl https://astexplorer.net/, https://babeljs.io/repl):

![image](https://user-images.githubuserconten

[2018-12-11 12:52] fvsch commented on #38
I was about to add a UX issue for "Unify and improve filter-by-type features across Console and Network". It would be great to come up with a search/filter UI that can be applied consistently to both Console and Network, even if they don't have the exact same feature set.

Currently, we're using the same icon as either informative or as a button, we display filter categories by default (Network) o

[2018-12-11 12:59] mcroud commented on #38
Other ideas which were discussed in the meeting:

- Having Search appear by default and using a button to toggle the appearance of the Filter bar underneath Search (Think Search and Replace in VScode).

- A toggling mechanism which flips between searching and filtering within the same UI.

- Simply having both Search and Filter inputs beside one another in the same bar.

Additionally the question

[2018-12-11 13:11] mcroud commented on #39
This also shares overlap with this bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1427981 with communicating to the user what pressing enter does in the console.

[2018-12-11 13:39] janodvarko commented on #38
I can imagine two ways how that toggle mechanism could look like in the UI:

1) A checkbox next to the Filter input (close to the 'Persist Logs' checkbox)
2) Three dots menu (...) available within the Filter input used to open a context menu. Just like the URL address bar has. See the attached screenshot. The context menu could offer a toggle action.

![image](https://user-images.githubusercontent

[2018-12-11 13:41] nchevobbe opened #40 "Top-level await feedback"
(See [Bug 1513010](https://bugzilla.mozilla.org/show_bug.cgi?id=1513010))

Let say you evaluate the following in the console:

[code]
You will say nothing at all for 10s, then a `"hello"` will prompt.
We should maybe have something displayed as soon as the user evaluate the expression, maybe with a spinner to indicate the evaluation was registered and that we are waiting for the underlying promise

[2018-12-11 13:59] fvsch commented on #39
My basic solution for that would be to have a row of icon buttons at the right of the normal input, to give access to multiline mode and reverse search. (And maybe one more feature if we have one to surface there, but beyond three it might take too much space and make the interface too busy.

Oh, and silly question but: do we actually need to remove the normal input when we're showing the multilin

[2018-12-11 14:33] janodvarko commented on #39
Yes,  I support the idea. The current inline-input can be useful all the time and therefore should not be removed/disabled.

Honza

[2018-12-11 14:38] nchevobbe commented on #39
My initial reaction is that it feels weird as you then have 2 different context to evaluate things, which handle keystrokes differently and might led to confusion (IMO).
Also, it might look not polished/professional, but I could be convinced.

Could it be something we do a study on (or kind of a study, a poll, or whatever) to gather some feedback on this.

[2018-12-11 14:46] mcroud opened #41 "On hover variations between classes and functions in the Outline panel"
On hover, the functions and classes present in the Outline panel receive a background color change, we also see that these are visualised differently:

**Hover over a function:**

<img width="301" alt="screen shot 2018-12-11 at 14 30 24" src="https://user-images.githubusercontent.com/42435754/49807372-d3a84a00-fd51-11e8-9cb5-b8021cc37d55.png">

**Hover over a class:**

<img width="303" alt="screen

[2018-12-11 14:58] nchevobbe commented on #38
silly idea: we want to have the cog icon in the top toolbar to show options (preserve logs, show timestamps, …), maybe we could also have one in the input?

[2018-12-11 15:09] fvsch commented on #38
Indeed. Especially as with the Settings redesign we will want to move more options out of the Settings page and into the relevant tool.

But I would try to avoid having two (or more) "options" buttons in a given tool. My rationale for options/three dots button is:
- Only one "three dots" button, in the toolbox
- Only one "cog" options button *per-tool*

So maybe fine-grained options for the input

[2018-12-11 15:43] janodvarko commented on #38
Yes, makes sense to me.

[2018-12-11 16:46] fvsch commented on #12
It seems we have updated colors for errors and warnings in the dark theme nowadays (we aligned them with Photon in a few different bugs).
@violasong, are these okay and can we close this issue, or should we update them?

<img width="660" alt="screenshot" src="https://user-images.githubusercontent.com/243601/49815688-a026e900-fd6c-11e8-92ec-7e64844423cc.png">

[2018-12-11 17:43] fvsch commented on #13
@chris-at-jobber Are you still up for working on this issue?

One way to proceed is to identify a Photon color that is not already overused in the Inspector and could work for pseudo-classes. It doesn't have to have an obvious meaning (I don't think that "conditional state" has a color, but I could be wrong.) Orange should be out of the equation because it's reserved for the Firefox brand, but any

[2018-12-11 18:07] fvsch commented on #7
Discussed at All Hands with @violasong and :yzen.

Main decisions:

1. The proposal at https://fx-devtools-focusring.netlify.com/ is mostly validate; we'll probably drop the inset shadow for edge-to-edge elements.
2. We do need an implementation that avoids adding focus rings on buttons after mouse clicks. Pending an implementation of `:focus-visible` in Gecko, we may need to experiment with using

[2018-12-11 23:55] violasong commented on #12
Yes, this is done — thanks for the nice fix for this!

[2018-12-11 23:56] #12 closed

[2018-12-12 00:08] violasong commented on #14
Thanks for the work on this. I really like the idea of Yellow 50 40% for all highlights, but I can see how that gets lost a bit in Debugger. Maybe it's worth doing 40% for line match, but 60% for word match.

Green for current match is great - matches main Firefox too. I think a lighter green would look a little nicer — how about black on Green 50 at 40% opacity?

[2018-12-12 08:38] fvsch commented on #36
Here is the Figma document I am working on, which can be seen without logging in:
https://www.figma.com/file/SvG26G5QeMmQ4iM6BMrfrmrh/Toolbox-Icons

@violasong The icons do look more balanced with Grey 90 at 80% opacity than at 100% opacity. (I translated "Grey 90 at 80% opacity" to `#3b3b3c` for the light theme, because using partial opacity fills and strokes in SVG can create visual artifacts if

[2018-12-12 09:36] mcroud commented on #14
Echoing a similar opinion here that the green (current match) and yellow (all matches) combination works well. The black text on green succeeds greater accessibility contrast than the white. Good stuff!

[2018-12-12 21:16] violasong commented on #14
A tiny mockup of how .4 green50 looks
<img width="78" alt="image" src="https://user-images.githubusercontent.com/55994/49899300-2cd6b300-fe10-11e8-9593-cc5637114b76.png">

[2018-12-13 01:37] violasong commented on #38
Mostly popping in here to say: nice mockup Nicolas :)

Florens: Looks like that console settings link still works for me.

If I'm understanding this bug correctly — I like the idea of unified search/filter results. So it could show filtered results, but also highlight the word in each row. Probably would need the outline-style highlighter.

[2018-12-17 09:48] mcroud opened #42 "Console Row Borders"
To improve the legibility of a busy console containing many messages, row borders should be explored to provide a clear divider between individual logs and warnings.

Iteration 1 created by @fvsch:

![screen_shot_2018-12-12_at_19 18 59](https://user-images.githubusercontent.com/42435754/50078561-392b8900-01df-11e9-9937-375493df9be4.png)

![screen_shot_2018-12-12_at_19 19 59](https://user-images.gi

[2018-12-17 14:10] mcroud commented on #34
As we have agreed on the method for grouping these callstacks frames, may I propose that we go ahead with the visuals depicted in Mockup A posted on the 7th December ?
We have ongoing discussions on type, padding and general pane design which are absolutely valid and I can't wait to have them cast in stone but perhaps extend beyond the reach of this issue?

[2018-12-17 15:02] fvsch commented on #42
That sounds like everything.

I tried it in code, and here is an example on a busy console with errors and warnings:

Test with red/yellow borders for errors and warnings (I used the text color at 25% opacity):

![console-borders-colors](https://user-images.githubusercontent.com/243601/50094290-292d9c80-0213-11e9-80a8-0f2909e9c182.png)

Test with the same Grey 20 border for everything:

![console-

[2018-12-17 15:10] mcroud commented on #34
Actually @fvsch I recall you mentioned having a discussion with @violasong regarding 11px type in panels at the All Hands?
I thought I might as well cast these ideas into the mix, so here are the above suggestions in comparison with the previous mockup A:

![callstack frame group 4_2x](https://user-images.githubusercontent.com/42435754/50095521-a2c28c00-020d-11e9-9d63-348d9a17f3d4.png)

[2018-12-17 15:13] martinbalfanz commented on #11
I agree with @violasong: the mismatch should not be a big problem and most people should expect this to happen. A small message should be enough.

I also like the idea of "hiding" it behind an icon that's always visible, though I would be careful with a warning sign. I'd prefer an information icon instead.

So, whenever the user selects a device that is known we know we can't fully simulate, this

[2018-12-17 17:17] fvsch commented on #13
That's great, thanks!

[2018-12-18 04:50] violasong commented on #36
Awesome, this is looking great!! Especially love the console and pickers.

A couple suggestions:

Re: perf icon needle - I know this icon is based off of the photon one, but maybe if the needle is tilted a bit more upward it would be clearer at this small size?

Network looks a bit sparse - making the gray parts the same color as the rest, and changing the shape of the lines to fill a more square-

[2018-12-18 04:57] violasong commented on #34
That 11px one looks great! I think the filenames:line numbers may need to be updated to 11 as well?

[2018-12-18 10:44] mcroud commented on #34
Oh yes, they should have been!

Thank you both for critique with these iterations, unless I have missed anything with the below are we happy with where we are?

Invision: https://mozilla.invisionapp.com/share/SPPOC5IH9V3#/337551056_Callstack_Frame_Group_5

![callstack frame group 5_2x](https://user-images.githubusercontent.com/42435754/50148830-6f393d80-02b1-11e9-98e4-41697af4162d.png)

[2018-12-18 11:05] fvsch commented on #34
Looks perfect to me, and the annotations will be helpful for implementing this. :balloon:

[2018-12-18 23:34] violasong commented on #34
Yep looks perfect to me too!

[2018-12-19 08:56] mcroud commented on #34
Great! Thank you.
@nchevobbe looks like we're all happy here with the mockups above (18 Dec), let me know if you need any other measurements etc.  :)

[2018-12-19 10:58] nchevobbe commented on #34
Thanks a lot all. I created https://github.com/devtools-html/debugger.html/issues/7555 to implement this, so I think we can now close the issue :)

[2018-12-19 10:58] #34 closed

[2018-12-19 12:33] mcroud opened #43 "Empty lines and line number appearance"
Empty lines, lines which one can't add a breakpoint, should have a visually distintive line number to those which can receive a breakpoint.

The inital mockup presented three variants. A best-match Photon swap (A), an effort to increase contrast and accessibility (B) and an effort to increase the distinction between empty and non-empty lines (C):

![empty lines 1_2x](https://user-images.githubuser

[2018-12-19 18:51] violasong commented on #43
I'll defer to you all on this, but just wanted to record my reasons for preferring line numbers that are no darker than 50 in light mode :D
- the 60 seems odd to me because it's darker than the gray syntax color color in the code which should have more prominence. (Maybe the future path is to darken the syntax colors)
- while the 40 doesn't meet AA requirements, it's there to indicate 'empty/inact

[2018-12-20 01:21] fvsch commented on #36
New round (the Figma URL above is still valid):

<img width="500" src="https://user-images.githubusercontent.com/243601/50257482-bdf2ee80-03fb-11e9-8d29-b38eab401a59.png" alt="Toolbox Icons">

All icons have at least one photonized variant.

- Picker icons: added variants with round extremities for the frame (it's a tiny change).
- Inspector: added variant with 1px stroke for the cross hair lines,

[2018-12-20 05:54] digitarald commented on #42
Personally, I like the gray borders as it seems less noisy – the additional contrast for errors/warnings is a great touch to improve contrast. But it is a tough call.

@mcroud would it make sense to tweet this out to gather some feedback?

[2018-12-20 09:48] fvsch commented on #36
Small update, with my top choices (and a few out-of-the-box choices for Inspector and Network) in the second row:

<img width="500" alt="toolbox icons" src="https://user-images.githubusercontent.com/243601/50277213-15b54800-0444-11e9-9304-a2af1340222d.png">

I've also changed the Console icon to remove the inner bar and use a `> _` pattern used in many Console / Terminal app icons. The goal was to

[2018-12-20 13:25] fvsch opened #44 "Debugger pretty-printing icon can be confused with the Style Editor icon"
Because, well, it's virtually the same `{ }` icon, as pointed out by @mcroud in #36.

We could explore other options for this icon, and perhaps other options for surfacing the "Pretty print" and "Blackbox source" actions (e.g. improved icons, text labels, right-click menu entries for the tab and in the Sources pane).

Edit: the context menu issues are addressed by https://github.com/devtools-html/

[2018-12-20 18:04] fvsch commented on #36
Question: "is the stylized N formed with arrows comprehensible for users", I've looked at translations of "Network" in a few languages which use latin scripts. There are 4 camps:

- Network and related words starting with N: Germanic and North European countries.
- Latin countries: words starting in R (Rete, Red, Réseau, etc.)
- A few countries: words starting in S (not sure if it's the same base)

[2018-12-21 00:42] violasong commented on #36
Awesome work! I'm so excited to see this whole set landed asap :).

Inspector: Yeah, the reticle is kind of weird, but at least it's also part of general use telescopes. (I would almost see a magnifying glass as the right icon here if it wasn't tied to search.) The viewfinder icon looks very nice, but for some reason I interpret it as viewing a larger rectangular view, rather than pinpointing an e

[2018-12-21 10:15] fvsch commented on #36
Aligning with this feedback, this is what we have:

![toolbox icons 4x](https://user-images.githubusercontent.com/243601/50336056-7a88a500-050d-11e9-9746-93643a1ac3a9.png)

A word about size: the previous icons were drawn on a 16px canvas, and often using only 14px.
The new icons are drawn on a 18px canvas; most take up only the central 16px, with only 2-3 exceptions. The rectangular ones like Pic

[2018-12-21 16:40] yzen commented on #43
Hi folks, @mcroud suggested I chime in.

As Victoria mentioned, for disabled (inactive) rows colour contrast requirement is not necessary. Even the spec mentions it: "Incidental: Text or images of text that are part of an inactive user interface component, that are pure decoration, that are not visible to anyone, or that are part of a picture that contains significant other visual content, have no

[2018-12-21 19:33] digitarald commented on #43
Sliding breakpoints confused a lot of people. When disabled line styling was removed for a while, users wanted it back.

[2018-12-21 19:52] violasong commented on #42
Tweeted :)

I think the colored borders look great, but maybe could use less opacity to match the gray a little more? Let's see what people say.

[2018-12-21 20:00] violasong commented on #43
Ooo, I didn't realize the spec had accommodations for text in ✨Art✨  :D

Ah, nothing comes immediately to mind, but seems like the inactive state of the line of code is the main indicator. Maybe we should move forward with just the colors for now, and try to improve it later?

Ah, didn't know this. It seems elegant to me to just allow inexact clicks

[2018-12-21 20:15] violasong commented on #36
I'd love to see how these icons look next to the text. I'm open to making the toolbar a tad taller (especially if we can expect to implement my ideas for simplifying the Inspector/Console toolbars which will remove an entire row from those UIs)

[2018-12-31 19:01] fvsch commented on #36
Progress report, folks.

## Design update

![toolbox icons](https://user-images.githubusercontent.com/243601/50565805-ef8c8380-0d32-11e9-9179-26d909fa2bb5.png)

Figma: https://www.figma.com/file/SvG26G5QeMmQ4iM6BMrfrmrh/Toolbox-Icons

So "Option 1" is what I’m going for, and "Option 2" has some different icons, some alternatives we didn't pick (Performance) and some that we did pick but I wanted t

[2019-01-02 09:13] fvsch commented on #36
Implementation: [bugzilla 1517189](https://bugzilla.mozilla.org/show_bug.cgi?id=1517189).

[2019-01-02 09:17] fvsch commented on #36
The only icons I did not update are for optional and rarely used tools:

- Web Audio: to be removed soon(ish).
- Canvas & Shader Editor: should be removed in 2019 too, and the current icons do not feel too out of place with the new ones so I’m okay with keeping them as-is.

[2019-01-02 10:48] mcroud commented on #43
Taking the feedback from this thread and Slack, there are a few patterns we can see:
- Contrast between line numbers over contrast between empty line numbers and backgrounds.
- Genuine Photon colors over '-5' colors.

With that, I keep returning to the following pair:

![empty lines 5_2x](https://user-images.githubusercontent.com/42435754/50586774-f7ebd800-0e72-11e9-9b75-936e6af41218.png)

The new

[2019-01-02 22:31] violasong commented on #36
This is awesome! I love the icons in Option 1. The only thing I would suggest is the Style Editor icon does seem a tad light/narrow next to the other icons in the toolbar - it could possibly still be a bit wider (maybe with slightly more exaggerated curly/pointy bits?

For the implementation, it seems a tiny bit more spacing between the icons and tab text could be nice.

Meatball and overflow icon

[2019-01-03 08:41] fvsch commented on #42
Looking at the replies to https://mobile.twitter.com/FirefoxDevTools/status/1076202797429710848 both options are popular, but it seems the colored borders have a slight lead.

We can try that.

@nchevobbe I have a small implementation question. One way to handle borders is to have top and bottom borders for each row, and overlap rows by 1px (`.message { position: relative; margin-top: -1px }`). Do

[2019-01-03 08:43] nchevobbe commented on #42
I don't know from the top of my head if there could be a perf impact, but we can run damp to make sure there is not.

[2019-01-03 19:36] violasong commented on #36
New icons look great! I think we're good to go for Nightly. Really excited to try this out.

[2019-01-03 19:42] fvsch commented on #36
- Tweaked the "Measure" height (+1px)
- Tweaked the "Console" chevron (1px stroke like Photon says, instead of the 1.5px one that looked a bit blurry on 1x)
- Added a "Paint Flashing" photonized icon because it was easy to redraw.

Now the only old icons are Web Audio, Shader Editor and Canvas, but they don't look too out of place and should be removed soonish.

![devtools-toolbox-icons-live](http

[2019-01-04 14:18] #43 closed

[2019-01-05 04:11] jaril opened #45 "Fixing vertical (and horizontal) rhythm in debugger right sidebar"
Taking the lead from #34 and [#6631](https://github.com/devtools-html/debugger.html/issues/6631), I went ahead and extended the same design to the rest of the right sidebar panes (watch expression, breakpoints, scopes, XHR breakpoints). Where there was no detail I interpolated from the discussions and used my judgement.

Note that this does not include the Call Stack pane as [there's already a PR

[2019-01-05 04:19] notjaril commented on #45
Opening the issue here since it's UX related - once the ball gets rolling we can move it to debugger.html if that's better.

Thoughts? @darkwing @mcroud @fvsch @violasong

[2019-01-05 12:18] fvsch commented on #36
Landing today in Nightly. I’m going to close this issue, and we can reopen it or create new issues if we want to do further changes.

[2019-01-05 12:18] #36 closed

[2019-01-05 12:19] fvsch commented on #26
Fixed in #36.

[2019-01-05 12:19] #26 closed

[2019-01-05 14:48] darkwing commented on #45
@fvsch @violasong @mcroud Could we fast track evaluation and discussion on this?  Getting hard numbers ASAP would be incredibly helpful as we look at to add Event Listener and DOM Listener panels in Q1

[2019-01-05 17:05] hfhchan opened #46 "Selection in panes are impossible to see"
It is impossible to see what I've selected in any row in the "Cookies" tab in the right hand side of the "Network" tab.  The same applies to other tabs.  The color of each row is exactly the same as the selection background.

Example:
![image](https://user-images.githubusercontent.com/8191296/50726954-070ea680-114f-11e9-834f-9059630e839d.png)

One would be mislead that I have selected the whole st

[2019-01-05 17:20] fvsch commented on #46
Thanks for the report Henry. I agree that this is not ideal.

It looks like the simpler fix would be to remove the "selected row" style altogether, since it doesn't seem to perform any action in the headers list or in the cookies list.

Do you happen to know which ones. I looked briefly but many tools which have a "selected row" style don't allow text selection, such as the Inspector's markup view

[2019-01-05 17:30] fvsch commented on #28
@yashjohar Do you happen to have your icons in SVG?

For screenshots, [bug 1517189](https://bugzilla.mozilla.org/show_bug.cgi?id=1517189) implements a new camera icon (see #36), so we should probably just use that.

[2019-01-05 17:45] hfhchan commented on #46
I check again and indeed it seems constrained to the Network tab.

While at it, it would benefit UX if the handing of key/value rows were consistent across different panes. It seems a minor inconvenience that some rows support a selection on value, and some can only be copied in full.  If possible, supporting selecting any part of the key and/or value, and having a context menu (with something lik

[2019-01-07 14:59] mcroud commented on #45
Superb! This looks really really good.
So I'm just going to go through your items here and relay my stream of thought!
I'm happy with the 4px padding for top and bottom of panels being a standard.

Pane header text as 12 and pane body as 11 went down well with the Callstack panel so I'm very happy with that. Could you just elaborate on "code breakpoints are 10px", is this because monospace renders

[2019-01-07 16:04] notjaril commented on #45
Exactly - the monospace font used for code (Menlo) rendered larger, where Menlo 10px is equivalent to the default font (San Francisco) 11px.

The one I've found was in [#6631](https://github.com/devtools-html/debugger.html/issues/6631), where 24px was as an option if taller rows were wanted. It was also discussed in [#34](https://github.com/devtools-html/ux/issues/34), though I agree with the line

[2019-01-07 20:21] fvsch commented on #46
I think we disable text selection in the markup view on purpose. Not sure why, but since we have interactions such as double-click for editing and dragging to move nodes around, and those two interactions can trigger selections by default, allowing selections would result in an awkward experience.

Maybe @captainbrosset or @gabrielluong know more about the rationale for that.

[2019-01-07 20:33] fvsch commented on #45
Agreed.

For the expand arrow (well, triangle), you can find it here too:
https://searchfox.org/mozilla-central/source/devtools/client/themes/images/arrow.svg

We mentioned that both 20px and 24px could work, and we needed to try them out.
I’m pretty happy with how 20px renders here. With the added 4px top/bottom padding for each row group, it doesn't look cramped. I’d say 20px is a keeper for thi

[2019-01-08 07:47] fvsch commented on #45
For typography, it would be great if we could use the main existing font-family/size combinations, rather than adding new ones. That would be:

1. Headers and tabs: sans-serif at 12px (line-height often unspecified, but 16px is good here)
2. Other non-code text labels: sans-serif at 11px (line-height often unspecified, but 14px is good here)
3. Code: monospace at 11px (line-height often at 'auto',

[2019-01-08 08:00] fvsch commented on #16
Closing since we shipped the new style.

[2019-01-08 08:00] #16 closed

[2019-01-08 13:36] nchevobbe commented on #46
it's not disabled:
<img width="577" alt="image" src="https://user-images.githubusercontent.com/578107/50833778-9d5eea00-1352-11e9-86af-154603988799.png">

by default, if you double click only the attribute value gets selected:
<img width="561" alt="image" src="https://user-images.githubusercontent.com/578107/50833796-b36caa80-1352-11e9-9502-dab91b064a9a.png">

but if you double click (or Ctrl+A),

[2019-01-08 14:49] captainbrosset commented on #46
I think what @fvsch is saying is that, unless you double click to enter edit mode, you can't select text in the markup-view. That is correct, and is indeed something we did when we implemented drag and drop support for re-ordering nodes in the DOM.
Prior to that, it was possible to drag with the mouse cursor to select text outside of an input field.

But, yes, @nchevobbe is correct in that selecti

[2019-01-08 15:56] fvsch commented on #46
You can also double-click the equal sign. (Maybe that's not an intended result.)

[2019-01-10 12:08] fvsch opened #47 "Photonize remaining toolbar icons"
Our update-icons-to-Photon-style issues:

- [x] RDM button and Frames button #18
- [x] Other toolbox button icons #26
- [x] Toolbox tab icons #36
- [ ] RDM toolbar icons #28 (in progress)

Let's do a pass for the remaining icons, especially those used in different tool's toolbars. We can focus on the most visible first, but it would great to group work on a bunch of icons to help achieve a consist

[2019-01-10 22:44] dholbert commented on #42
@digitarald pinged me to ask about this -- I don't think there'd be a perf impact to adding borders & using this `margin-top` hack.

Though, one minor correction RE this hypothetical styling...
`.message { position: relative; margin-top: -1px }`

If you're just using `margin-top` for the adjustment, then you probably don't need `position:relative`.  You would only need `position:relative` if you w

[2019-01-14 03:06] kriskristin commented on #11
Sorry it has taken me so long to get to work on this. But here I am!

@martinbalfanz Info icon is a great idea. and @violasong I will work on a visual designs once I get the message down.
Here are 3 options as a **starting point** for the message. Let me know what y'all think.

1. "Screen are rendered in Firefox Gecko, which may cause differences between simulated and real devices."
2. "In Respons

[2019-01-14 15:12] martinbalfanz commented on #11
I think a learn more link makes a lot of sense. The MDN link you added might be the best place, though the content needs to change. Since we can't simulate different browser engines, we will change the behavior from "default browser on the device" to "Firefox on the device". This is pretty much why we want to have that warning :)

Re: messaging: I tend to like the 1st best. It's short and to the p

[2019-01-15 02:01] digitarald commented on #42
Implementation tracked here: https://bugzilla.mozilla.org/show_bug.cgi?id=1519904

[2019-01-15 12:48] fvsch commented on #47
5 icons ready to land in [bug 1513516](https://bugzilla.mozilla.org/show_bug.cgi?id=1513516), waiting for ui review for the stopwatch icon.

[2019-01-15 13:07] fvsch commented on #42
The borders create a few design challenges.

Ideally, we want an error message to show two red borders (top and bottom), and warning message to show two yellow borders, etc. This creates issues with:

1. Borders between two messages (we want only one border)
2. The top border of the first message (clashes with the toolbar's border)
3. The bottom border of the last message (clashes with the input a

[2019-01-15 19:44] darkwing commented on #45
Let's keep fonts as is for now -- it's an unrelated, simple change

[2019-01-15 21:59] fvsch commented on #42
You can download [a Nightly build for macOS with console row borders here](https://queue.taskcluster.net/v1/task/Nick38Z_TBmHS36BRhC9UA/runs/0/artifacts/public/build/target.dmg).
/cc @violasong @mcroud

[2019-01-15 22:24] digitarald commented on #42
I like how highlights the errors and warnings; this feels like the right balance and intention of raising importance of severe messages while visually differentiating.

[2019-01-16 07:44] fvsch commented on #42
@nchevobbe Since you piloted the work on making the navigation marker more visible, do you think A would work (error and warning borders take over) or would you rather use something like B (navigation borders take over)?

[2019-01-16 07:54] nchevobbe commented on #42
Great work Florens!

For navigation message I really like `B`, as it stands out from the other messages, which is what we want.

[2019-01-16 11:10] fvsch commented on #45
We should check the checkbox size on Windows (Windows 10 only maybe). If it's in the 12-14px range, we should be good. I'm okay with having a potential 1-2px imprecision range here, between Windows and macOS. On Linux, the checkboxes may be bigger, but I suggest that we don't optimize for that.

Strongly in favor of rows being 20px _excluding borders (if any)_.
This is how we manage toolbars, for

[2019-01-16 11:17] mcroud commented on #42
@fvsch Your initial 3 points and your suggestions to overcome them seem well considered and logical to me 👍  Having errors/warnings take precedence aligns with my hierarchy of message importance which is why image A felt like a good balance to me.

It's tricky to determine whether something stands out adequately given the 100 billion combiniations of console output 😆  but even when the Navigation

[2019-01-16 22:58] violasong commented on #42
I like A/C best, and agree with @mcroud that maybe there's some importance to the navigation message that I'm not fully groking. I think B just looks a bit too strong, since we don't currently use that bright outline look anywhere - maybe C works as a middle ground?

[2019-01-16 22:59] violasong commented on #42
Oh, what if B, but with the lighter blue outline colors of C?

If it needs more prominence beyond that, there's other things we could try with bolding, etc

[2019-01-16 23:11] digitarald commented on #42
Important to keep in mind that a) they act more as separators than actual messages and b) they only show up for a subset of users that enable `Persist Logs`.

[2019-01-17 03:53] notjaril commented on #45
This makes sense, though it's not a problem with the right sidebar since none of the content rows wrap their text. I do see how flexibility with font-size/line-height and symmetrical visual spacing is handy across devtools, so not being restricted to the 4px multiple for sizing is a good thing.

I think so, and having 1px border between them sounds good!

[2019-01-17 04:00] notjaril commented on #45
Last remaining point is:

I'm biased towards having more spacing and having it be 20px high, since eye strain while inspecting object representations is one of my least favorite things. Although I also see the case for keeping it the way it is (15px) so that you can fit more lines in the same space, and hopefully find what you're looking for quicker.

@darkwing thoughts on 20px vs 15px for JS obje

[2019-01-17 10:08] mcroud commented on #45
Great, I think we will settle with 1px borders being seperate from rows then 👍

A quick and dirty visual comparison:

![object-row-height](https://user-images.githubusercontent.com/42435754/51310893-8cdbfd00-1a3f-11e9-8f9a-393f335a8eef.png)

[2019-01-17 15:43] darkwing commented on #45
I defer to @mcroud on the 15px vs. 20px thing. :)

[2019-01-17 16:40] fvsch commented on #45
I vote 15px for consistency with how we display those objects in the Console.
(Currently with a 14px line-height, moving to 15px in the near future.)

[2019-01-18 12:55] mcroud commented on #45
I'm 100% for making things easier to scan for users, but I'm also not aware of any reported issues with the current 15px implementation which would make the argument to change it a lot easier (I'm not the best searcher in Bugzilla but wasn't able to find anything - not that it NEEDS to be reported to be an issue mind.)

We do provide the means to allow users to zoom in and increase the text size s

[2019-01-19 22:57] fvsch commented on #47
I started a Figma document for updating a few remaining icons from Inspector and other tools.
https://www.figma.com/file/gZ2qwGfvs35fbvYtrb2uL41m/DevTools-Misc-Icons
Not including Debugger play/pause/step icons alone for now.

[2019-01-21 07:46] fvsch opened #48 "Limit grayscale text colors to 2 or 3 shades"
I'd love to remove some of the duplication in text colors. We currently have 8 (height!) global CSS variables for shades of grey text:
https://searchfox.org/mozilla-central/source/devtools/client/themes/variables.css#47-55

With a bit of work, we can probably end up with a consistent set of 3 colors:

- base color (probably the current `--theme-body-color`)
- a more contrasted variant
- and a less

[2019-01-22 11:18] fvsch commented on #44
Worth noting that Chrome's debugger uses the same kind of `{ }` icon, so it may be worth keeping it if we don't have a clearly better solution.

[2019-01-22 12:25] fvsch opened #49 "Photonize the Debugger's control flow icon (play/pause, step, disable breakpoints)"
We should update the Debugger's right toolbar icons to a Photon style.
We also have similar icons (e.g. play/pause) in Inspector > Animations and in Network.

A list:

- Pause
- Play
- Rewind (Inspector > Animations)
- Step over (Debugger)
- Step in (Debugger)
- Step out (Debugger)
- Deactivate breakpoints (Debugger)

It would be great to have a photonized icon set where all those icons are consis

[2019-01-22 20:32] violasong commented on #47
- I like eye wide open, and would just suggest a large iris so that it's friendlier looking.
- The eye closed is clever and does seem like a really good idea for accessibility. I have to admit though, increasing the metaphor here does strike me as a tad creepy - I don't really want to think of little blinkable cyclops eyes in my UI. Maybe Sketch's solution of a crossed-out eye would be better.
- S

[2019-01-23 07:40] fvsch commented on #45
I'm not sure what you are representing with the dotted borders.

If you wanted to add dotted borders in the rendered UI, I think this makes things a bit too visually busy.
If it's just a representation of spacing (representation which should not be rendered UI), they're mostly okay, except we're probably not going to leave 1px blanks between rows when we don't have a visible border, so those 1px s

[2019-01-23 07:58] fvsch commented on #47
A crossed-out eye could be good, and follows conventions used for several Photon icons too.

Let's start with implementing search, filter and the color picker icon. Filed [bug 1522041](https://bugzilla.mozilla.org/show_bug.cgi?id=1522041) for that.

[2019-01-23 10:33] mcroud commented on #47
These are super.

Both the wide-open and normal eye feel like improvements to me, I would be happy with either.
Doing a Google image search for "Hide icon" falls in favor of Victoria's suggestion of using a crossed-out eye. Another pattern is placing the eye within a box and having the alternative hidden state being just the box (removing the eye), like a checkbox. Adobe do this with layers, so it

[2019-01-23 13:21] jaril commented on #45
The dotted borders are just a design guideline for visually identifying separate vertical rows to make it easier to match pixel values to what it is they're measuring. The measured values are still correct for implementation, as the dots just signifies the bottom inner border of the previous row.

For example, an element with 10px height is visualized in the mockup as a 9px of content + 1px of bor

[2019-01-23 13:41] nt1m commented on #48
I'm all for anything that can simplify the current set of variables :)

[2019-01-23 15:43] fvsch commented on #45
The consistent 4px is great, let's go with that.

Thanks again for all your work, and the level of detail of the blue/red lines. :heart:

[2019-01-24 00:35] jaril commented on #45
Final spec (with the new 4px padding around options checkboxes)

## Preview
![side-by-side-01242019](https://user-images.githubusercontent.com/15959269/51646282-efecf880-1f45-11e9-9992-25295d59f3e8.png)

## Overview of new panes
![options-vertical-padding-01242019](https://user-images.githubusercontent.com/15959269/51646287-f54a4300-1f45-11e9-888e-c27028b9efd2.png)

[2019-01-24 05:18] violasong commented on #45
Outstanding work! Thanks so much @jaril. I can't wait to see this implemented!

[2019-01-24 05:21] violasong commented on #45
And of course, big thanks to Florens and Matt for y'all's work on this too :)

[2019-01-24 07:58] fvsch commented on #48
Usage count:

- `--theme-comment`: 91
- `--theme-comment-alt`: 23
- `theme-body-color`: 140
- `theme-body-color-alt`: 23
- `theme-body-color-inactive`: 17
- `theme-content-color1`: 17
- `theme-content-color2`: 6
- `theme-content-color3`: 10

[2019-01-24 10:37] mcroud commented on #45
Wonderful! what a collaborative result 🎉
Final spec looks great! Thanks @jaril and @fvsch 👏

[2019-01-24 11:21] mcroud commented on #48
Consolidating some of the lesser used variables to make a more refined set sounds beneficial to everyone.
The proposal is to remove variables that are collectively used 56 times in the codebase. I'm not sure how we can determine which were created for a specific purpose or if we can clearly establish there is no reason for them to exist? (maybe we can!).

I wonder what the best method would be to

[2019-01-24 12:50] fvsch commented on #47
Search, Filter and Eyedropper icons landing later today. :)

[2019-01-24 18:56] fvsch commented on #48
@mcroud We can try to identify where some old variables are used most and work on those tools specifically (I suspect all the `--theme-content-color` ones are older and used mostly in Inspector/Network/Memory).
I wouldn't be too worried about regressing some colors or contrasts, we'll probably see it if it's a strong issue.
In any case we can try to make progress panel-by-panel in a handful of bug

[2019-01-25 12:43] mcroud opened #50 "XHR breakpoints with methods (UX)"
Following on from the discussion in the Debugger repo thread (https://github.com/devtools-html/debugger.html/pull/7721), suggestions on the styling and experience of the enhanced XHR breakpoints pane are required.

Taking cues from the existing work from @jaril (including the new sidebar rhythm work) and original mockups from @violasong, I'll start with four approaches:

![xhr-breakpoints method](

[2019-01-29 16:25] fvsch commented on #2
@violasong @mcroud Do you have an opinion on whether we may want to pursue text size options?

We have some users asking for it in [bug 1319367](https://bugzilla.mozilla.org/show_bug.cgi?id=1319367), and [Patrick suggested](https://bugzilla.mozilla.org/show_bug.cgi?id=1319367#c12) this could be an interesting community project, but do we even want this, UX-wise? I definitely want this for myself,

[2019-01-31 16:38] darkwing commented on #14
Could we get a final answer here?  It's blocking a few debugger bugs.  Thank you!

[2019-01-31 23:06] violasong commented on #14
Thanks for the nudge! Let's move forward with the following:

Active highlight:
light: .3 opacity green-50;
dark: .2 opacity green-50 with 1px border: green-50

Non-active highlights:
light: .4 opacity yellow-50
dark .2 opacity yellow-50 with 1px border: yellow-60

<img width="237" alt="image" src="https://user-images.githubusercontent.com/55994/52091570-af0a6a80-2569-11e9-8234-28fe5ea5de01.png">

[2019-01-31 23:42] fvsch commented on #14
@violasong Main issue here is that we can't do borders for highlights in the source code, because a match can be made of several elements. In your example, it would be something like:

[code]

So we end up drawing borders around each element, as in [debugger issue #6744](https://github.com/devtools-html/debugger.html/issues/6744). This means we end up with borders in the middle of the matched stri

[2019-02-01 19:59] violasong commented on #14
Ah! I was basing assumptions off of the current outline style, and forgot there was a need to change this. It was just tough to change the background color for dark mode without ruining legibility.

I think one thing that needs to happen here is lightening the color of the indigo and purple syntax color so they're brighter, like the green.

[2019-02-02 10:34] fvsch commented on #14
Trying to make all syntax colors compatible with those background highlights would be a lot of work (and the risk of regressing some of those contrasts later on would be high). So I suggest we just force the text color to black or white, like in some of my suggestions in https://github.com/devtools-html/ux/issues/14#issuecomment-445764570

We probably want the search highlights to pop out, I thing

[2019-02-04 12:05] mcroud commented on #2
My knee-jerk reaction to this was I'm all for it, I'd find it difficult to argue a reason not to offer it to users. Having thought a little more, how much different would the experience be to just zooming with Command +/- ?
With the panels in particular it won't take much text increase to warrant increasing the size of the other UI elements to accomodate the larger text. Maybe we need a comparison

[2019-02-04 13:51] fvsch commented on #2
The main difference is if you're on a 1x display, zooming to intermediate values (110%, 120% or 130% which is zoom level 3*) will make the icons blurry. Things are perfect at 200% zoom (ten times Ctrl+Plus), and can be passable at 150%, but often 110, 120 and 130% are blurry.

Another big difference is that sometimes you want bigger text but don't want toolbars and icons and buttons to all become

[2019-02-04 13:56] fvsch commented on #2
Currently, the default font-size for code in VS Code is 14px. I've seen 13px, 14px and 15px in different IDEs. It feels a bit strange that DevTools (both in Firefox and Chrome) seem to use a tiny 11px, and with pixel screens getting smaller over time (even when dividing the resolution by the "device pixel ratio") we may end up in a situation where 11px is too small to be comfortable for most users

[2019-02-11 11:26] akshithashetty commented on #13
Hi,
Is this issue available ? I would like to start work on this one.

[2019-02-11 16:58] chris-at-jobber commented on #13
Sorry yes feel free! I have not been able to put the time towards it that I
had been hoping.

On Mon, Feb 11, 2019 at 4:26 AM akshithashetty <notifications@github.com>
wrote:

--

CHRIS MURRAY
Senior Product Designer

[image: Jobber Logo]
chris.m@getjobber.com
10520 Jasper Ave, Edmonton, AB, T5J 1Z7
www.getjobber.com <http://getjobber.com/>

[2019-02-11 17:09] akshithashetty commented on #13
Thanks 👍

[2019-02-11 22:47] violasong commented on #14
Ideally we choose syntax colors bright enough that a deep highlight would work with all of them, but to unblock this I think the white text on dark green/yellow sounds like a good way to go - will defer to you on this @fvsch, if you're interested :)

[2019-02-14 20:06] akshithashetty commented on #13
Hi,
This is the initial set of suggestions I have,
As the inspector extensively has shades of blue and magenta, I have avoided using blue, so that the pseudo class text is highlighted.
Also, as discussed earlier orange is reserved for firefox branding so from the remaining photon colors, I have implemented green and yellow and taken screenshots of the same.
It would be great help if I get some fur

[2019-02-15 09:16] fvsch commented on #13
Let's see what @violasong says.

I think I like the yellow option better, especially since we're already using green for HTML comments and we can have of lot of those in the markup view (like in your example). The yellow shades draw attention, but don't look like a "warning" to me here, so I would be okay using them.

We can also use two different shades of the same Photon color for the selector t

[2019-02-21 04:22] violasong commented on #13
This is great @akshithashetty! I agree with Florens that the yellow seems better.

I do think the discs would look more integrated if the light theme one was 1-2 steps lighter and the dark theme one was 1-2 steps darker. Even doing 1-step change for the text might be nice (if the contrast is still high enough)

[2019-02-25 21:23] akshithashetty commented on #13
Thanks @violasong @fvsch  for the feedback. That helps me come up the following revision. Let me know what you think about this -
![slice 3](https://user-images.githubusercontent.com/31488143/53369483-54e6a480-3971-11e9-9daf-2e8389925e27.png)

[2019-02-26 11:27] fvsch commented on #13
Looks pretty good!

I'm wondering if we should remove the bold font-weight on the pseudo-selector, too. Those colors are contrasted enough and maybe don't need the extra weight.

[2019-02-26 20:46] violasong commented on #13
Yes, looks good, and I agree that the bold might not be necessary.

The discs in the dark mode look surprisingly orange as opposed to the #d7b600 dark yellow - is it just a screenshot difference?

[2019-02-26 22:36] akshithashetty commented on #13
Sorry, I think the change was not applied at the moment I took the screenshot, I have rectified it and also changed the font weight attached the following screenshot. Let me know what you have to say about this one -
![slice 4](https://user-images.githubusercontent.com/31488143/53451516-f25ed880-3a44-11e9-8f0f-1762db5009b7.png)

[2019-02-26 23:58] violasong commented on #13
Ah, I see! This new screenshot looks fantastic!

On Tue, Feb 26, 2019 at 2:36 PM akshithashetty <notifications@github.com>
wrote:

[2019-02-27 00:36] akshithashetty commented on #13
Glad it works! So should I go ahead making the changes to code?

[2019-02-27 07:47] fvsch commented on #13
@akshithashetty That would be great. Changes should happen in the `mozilla-central` repository, so we need a Bugzilla bug to work on. There was an existing one with a very close focus, so I added some details in it:
https://bugzilla.mozilla.org/show_bug.cgi?id=1200686#c2

If you've never worked on mozilla-central before, fair warning, it takes a little while to set up. [We have a guide here](https

[2019-02-27 09:21] akshithashetty commented on #13
Thanks @fvsch. That helps! I have solved a few bugs on mozilla-central and have the setup in place. I will try to fix it and generate a review request in phabricator. Will surely ask for info incase there is something unclear.

[2019-03-01 13:55] fvsch commented on #13
This should land in Nightly tonight or tomorrow.
Thanks a bunch @akshithashetty for your color tests and the CSS patch!

Copying the text version of the design spec here, if we want to put it in a design document:

- Dark theme: pseudo-class colors should be Yellow 50 for text & Yellow 60 for the markup indicator (disc)
- Light theme: pseudo-class colors should be Yellow 70 for text & Yellow 60 fo

[2019-03-01 13:55] #13 closed

[2019-03-02 22:49] berkaybarlas commented on #5
Hello @violasong and @caterinasworld

I'm a third year Computer Engineering student in Koc University. I have experience with Java, C++ and Javascript languages and UI/UX design. I have gone through the ideas and I would love to work on Firefox Reader.

I thought that I could start with trying solve this issue. Is there anyone currently working on this issue?
Thanks!

[2019-03-04 12:58] #31 closed

[2019-03-04 12:59] fvsch commented on #33
Closing this, as it doesn't appear we want to use that pattern.

[2019-03-04 12:59] #33 closed

[2019-03-04 20:47] violasong commented on #5
Hi @berkaybarlas! I'll check with the other Mozilla designer who was working on this and get back to you :)

[2019-03-05 02:26] violasong commented on #13
I just noticed this in Nightly and it looks great! Great work @akshithashetty, and thanks for mentoring, @fvsch!

Btw, Akshitha — if you have a twitter account, I would love to mention you in a @firefoxdevtools tweet about this nice example of hybrid UX/CSS work :).

[2019-03-05 08:06] akshithashetty commented on #13
Glad to see the changes in Nightly. Thanks
@violasong @fvsch for mentoring this bug. It was great learning and fun. I have a twitter account - AkshithaShetty8. I am looking forward to the @firefoxdevtools tweet about this issue. Thanks again !

[2019-03-05 08:34] captainbrosset opened #51 "Provide instant user feedback when things are copied to the clipboard"
There are several tools in DevTools that allow users to copy things to the clipboard:

* The eyedropper:
![eye-dropper](https://user-images.githubusercontent.com/1152698/53790772-09f7fe80-3f28-11e9-8246-a7c906aa063c.gif)

* The font URL in the Fonts panel:
![font0-url-copy](https://user-images.githubusercontent.com/1152698/53790852-33188f00-3f28-11e9-9be0-0b2f12c260d4.gif)

* The Copy Rule and Cop

[2019-03-05 08:41] captainbrosset commented on #51
Turns out there are many more places where we allow users to copy strings. Here are a few I can think of:

* right-click on a node in the inspector: there are many menu items to copy things from there (html, css path, etc.)
* right-click on a source in the debugger: you can copy the URL to the source from there
* right-click on a stylesheet in the style-editor: same thing there
* right-click on a

[2019-03-05 08:51] nchevobbe commented on #51
we also have the `copy` command in the console input (e.g. run `copy({a: 1})`)

[2019-03-05 09:00] fvsch commented on #51
I agree that the lack of feedback right now is problematic. And having a small "toast" notification can be a decent solution.

In a first step I would focus on having that notification for buttons, and leave context-menu actions and the Console's `copy()` for later consideration.

[2019-03-05 09:02] fvsch commented on #51
Note: the eyedropper already has a little bit of feedback, since we wait a bit to show a tick icon and a "Copied" label.

One option would be to reuse that style and show it as a tooltip near the button, rather than as a toast notification.

[2019-03-05 23:40] violasong commented on #51
Agreed, this would be a huge improvement! I really like how main Firefox’s message is located near the Copy button, but if it’s simpler, top-right corner seems like it would work fine too. It’s basically the same for the Layout panel. We can copy Firefox exactly for the white-on-blue styling.

[2019-03-06 23:14] violasong commented on #2
Yes! Sorry for the late reply - but this does seem like a good idea to me (especially if we can also minimize a few of the other less sensible settings in the prefs panel :D).

[2019-03-07 07:49] fvsch opened #52 "Align Inspector toolbar height with other panels"
The Inspector's top toolbar is currently 23px tall (excluding borders). We have [a bug on file for making it 24px tall](https://bugzilla.mozilla.org/show_bug.cgi?id=1512513) with a patch, but I'm wondering if we should just align it with Console, Network, Debugger, Accessibility and use a 28px height instead?

With the bigger and fatter Photon icons, 24px can look a bit cramped, and it could be ni

[2019-03-07 08:08] fvsch commented on #50
@jasonLaster @darkwing Any input on these design proposals?

Personally, I like option 3 best.

- It mimicks HTTP syntax, with the verb first. That's closer to what we do in Console and Network, too.
- If the pattern is long, it could push the request method to the right and out of view (unless we wrap it?) Having the request method first makes sure we don't hide it.

[2019-03-07 12:07] captainbrosset commented on #52
I like it. Consistency is the most important.

[2019-03-07 13:57] darkwing commented on #50
I like #3 best as well!

[2019-03-07 14:34] digitarald commented on #50
Given that methods is optional, I am not sure if it should be 1st. The default state is also interesting here, for no-method-filtered.

[2019-03-07 14:49] fvsch commented on #50
That's a good point. Matt's mockups all show a method in the already configured breakpoints, but if users will tend to just configure the URL, we would have a list like this:

[code]

Adding a method to just one:

[code]
vs
[code]

Hmm, both could work.

[2019-03-07 14:52] fvsch commented on #50
Side notes on the current implementation:
- the method dropdown only show up when focusing the input; I think with the more subtle design shown above it could be shown at all times;
- it's hard to use with the keyboard, especially with the down/up keys, because every time you change its value it re-renders and loses focus;
- the default value is shown as "ANY", it should probably be "Any" (since i

[2019-03-07 16:30] digitarald commented on #50
Another take on this would be that the UI follows a click-to-edit/blur-to-finish pattern (similar to Watchpoints or Conditional BPs); so having both a read and edit format seems to work well for this.

+1

Agreed, I found _ANY_ confusing in that context as well and _Any_ makes it a bit better. As it is the default it is also the defacto label, so my concern is that it doesn't add any context to wh

[2019-03-07 17:51] violasong commented on #52
Interesting, thanks for bringing this up! I think this will make a lot of sense, especially since we are planning to do more with that markup view toolbar, with filter badges similar to Console/Network.

[2019-03-08 05:53] digitarald opened #53 "Provide option to enable (expensive) variable mapping"
UX for https://github.com/firefox-devtools/debugger/issues/7806 by @jasonLaster

Assumptions:
- Default off, because of performance overhead
- Only possible to enable for files with column-based source maps
- MDN link to learn more

Ideas

![image](https://user-images.githubusercontent.com/8599/54056656-98c57f00-41a5-11e9-8550-80aecf9ac628.png)

1. Panel header checkbox, inspired by Chrome `async`

[2019-03-08 13:19] oslego commented on #52
Agreed. It looks more elegant, especially with the redesigned search/filter input fields.

[2019-03-08 23:34] yogmel commented on #41
Hi all,
Can I work on this? Both class and function hover should look consistent, right?

Thanks!

[2019-03-08 23:38] yogmel commented on #10
Hi @violasong, just a heads-up that I've worked with Honza and the Zebra colors for the Network tab was already sent as a patch.

If you need further assistance for the Storage table, please let me know.

[2019-03-09 00:18] yogmel commented on #29
I've been thinking for a while...that's not an easy question. As you mentioned in the conversation, I suppose it depends on this question:

How important is that the user knows that text is clickable?
    a. _Very important_: make the button very obviously clickable, by changing the **color** of the text, its background color or insert an **underline**.

    b. _It is good to know_: maybe insert t

[2019-03-09 11:06] fvsch commented on #41
That would be great! I think you can make a pull request on the https://github.com/firefox-devtools/debugger repository directly, without opening an issue there. Your commit message and/or PR title could reference this issue directly.

Yep. One thing to look out for perhaps: in some examples I've seen `class Foo` headers which had the hover style, but clicking them did nothing. If there are reason

[2019-03-10 20:00] violasong commented on #10
Wonderful to hear this - thanks @yogmel!

[2019-03-10 20:00] #10 closed

[2019-03-11 03:43] kriskristin commented on #11
<img width="917" alt="Screen Shot 2019-03-10 at 10 32 57 PM" src="https://user-images.githubusercontent.com/12438022/54098890-85243f00-4384-11e9-80b2-d66bcf16495f.png">

Here is a starting point for visual implementation. It needs a lot of visual refinement, but before I work on that I would like some feedback on the overall solution.

I used the helper pattern from Photon. I wonder if we should h

[2019-03-11 15:22] blenderskool commented on #5
Hi @violasong

I would be glad to work on this project either on UI mockups or the frontend implementation along with @berkaybarlas if possible.
I went through the GSOC 19 ideas and this is something that excites me 😄
Thanks

[2019-03-12 03:28] yogmel commented on #41
Thanks @fvsch! I'll have a look today and will get back here with updates very soon :)

[2019-03-12 08:29] yashjohar commented on #28
Thanks @violasong . Is there a bug for implementation?

[2019-03-12 19:09] yogmel commented on #41
Hi all,
I have tested a little bit and came up with this:

![class and function](https://user-images.githubusercontent.com/3901809/54228512-127ca600-44e1-11e9-9737-4aabf8900ce8.gif)

Let me know what do you think!

[2019-03-12 20:30] violasong commented on #5
Hi @blenderskool! For this bug, let's wait for @awallin to get back to us for next steps, since he's the main designer on this project.

[2019-03-12 22:57] digitarald opened #54 "[Profiler] Profile upload dialog with customizable PII removal"
UX for https://github.com/firefox-devtools/profiler/issues/1802
Team: @canaltinova, @gregtatum, @fqueze and @digitarald.

**Background:** The profiler needs to keep users from accidentally sharing data that they are not aware of but provide user choice to include more data.

Guiding principles (from the [PRD](https://docs.google.com/document/d/1Uc07GYeWLrfOJhWIYm6bZuBnhA85_ULhprpLkUkr7nk/edit#head

[2019-03-12 23:54] violasong commented on #11
This is looking great! Nice find in the design system 🙂. Maybe we could
call it out a little more by using the white-on-black version of the icon.
(The other icons will be shifting to white on black anyway.)

One other thought - maybe this icon should be to the right of the touch
icon, since it is related to that one as well.

Not sure what a good title would be.

On Sun, Mar 10, 2019 at 8:43 PM k

[2019-03-13 03:49] kriskristin commented on #11
Thanks for the feedback. I'll make those visual changes.

Title could be 'Rendering Engine Mismatch', although that seems too complex and not user friendly at all. In this case a title might not be necessary.

[2019-03-13 14:48] fvsch commented on #41
That looks pretty good.

I would try to improve a few things in addition to that:

1. Can we have the top margin before `class Foo` only between two blocks? When functions are declared at the root level (not in a class), they appear something like 4px below the search filter. It would be nice to keep the same spacing if the first element in the list is a `class Something` declaration. This can pro

[2019-03-13 17:46] violasong commented on #21
Hi Florens, were you still interested in working on this? If not, I could try to find another person to give this a try :)

[2019-03-13 18:54] fqueze commented on #54
Thanks for starting this discussion Harald!

Random thoughts when looking at the provided mockups:
- Checking boxes to have more data included seems more natural to me than unchecking things.
- I like the idea of including information about how much data will be included like on the mockup at the top right (ie. '4 hidden threads', '3.1s outside the time range', the names of the add-ons, the hostna

[2019-03-13 21:21] yogmel commented on #41
Hi @fvsch ,
Thanks for your feedback!

It's fine! I have worked on it. Let me know what you think:

![class and function2](https://user-images.githubusercontent.com/3901809/54314928-aae75900-45bb-11e9-8272-402df01d0cc6.gif)

In the gif above, the first class bbb has a margin-top, because it's not the first element to appear (it's eee()).

When the **class is the first element**, it doesn't have an

[2019-03-13 22:03] fvsch commented on #41
That looks perfect. Are you ready to create a pull request on the debugger repo? We can continue the review there.

[2019-03-13 22:31] digitarald commented on #54
Agreed, it probably should be a combination of both showing what kind of data gets removed per category and making it less prominent. The choices are not about reducing the size, but stripping private data. I did like how the data removal summary can be a header for the section, but a more privacy focussed stat would make more sense.

This section could be informational and wrapped in a photon's r

[2019-03-14 03:27] violasong commented on #28
Hey Yash! Looks like it would be best to make a new bug for both this and the rotate icon.

[2019-03-14 08:02] fvsch commented on #28
@yashjohar I opened [bug 1535254](https://bugzilla.mozilla.org/show_bug.cgi?id=1535254) on Bugzilla. Do you have an account there, so that I can assign you to the issue? Or do you need help with the implementation?

[2019-03-14 15:11] yashjohar commented on #28
@violasong I have a Bugzilla account <yash.johar1992@gmail.com>. You can assign the bug to me. Thanks!

[2019-03-14 17:55] fvsch commented on #21
So, I kinda neglected this project, but I definitely want to take a stab at it. I'm going to try to come up with notes / questions / UI drafts in the next two weeks, to get the ball rolling.

[2019-03-14 18:53] yogmel commented on #41
Hi @fvsch , I've just created a PR, here:
https://github.com/firefox-devtools/debugger/pull/8126
Thanks!

[2019-03-14 20:08] violasong commented on #21
Sounds good :) - don't mean to rush you or anything

[2019-03-14 20:49] violasong opened #55 "asdkjnas.jdksa"
- [ ] one
- [ ] two

[2019-03-14 21:03] #55 closed

[2019-03-15 18:45] jasonLaster commented on #53
Here are some updates based on my interpretation of our discussions.

CC @digitarald

![image](https://user-images.githubusercontent.com/254562/54454886-e0618300-4730-11e9-8e6a-89c7f904d86a.png)

[2019-03-15 19:07] digitarald commented on #53
Ok, let's go with this, @jasonLaster . I assume the gray box in the screen on the top right is the tooltip?

[2019-03-18 17:10] digitarald commented on #53
@jasonLaster can you confirm that the initial UX decision is to use the checkbox + `Map` label in the panel-header (and removing the link to show generated scope)?

[2019-03-18 21:14] digitarald commented on #53
Landing in [bug 1536216](https://bugzilla.mozilla.org/show_bug.cgi?id=1536216).

[2019-03-21 10:40] fvsch commented on #52
I'm working on it in [bug 1535956](https://bugzilla.mozilla.org/show_bug.cgi?id=1535956).

[2019-03-21 11:20] fvsch commented on #46
Not a general solution for all the things, but I filed a bug for the Netmonitor's "Headers" tab.
https://bugzilla.mozilla.org/show_bug.cgi?id=1537724

[2019-03-21 20:51] digitarald commented on #54
@violasong to help with your backlog prioritization, we are aiming to land this work before the end of Q2 and the backend work is nearly completed; so only frontend remains.

[2019-03-21 21:03] digitarald commented on #45
@violasong would it make sense to add those results to the devtools photon docs?

[2019-03-22 03:52] violasong commented on #54
Sounds good! I like where the mockups/comments are going, and will respond in more detail soon.

[2019-03-27 16:01] digitarald commented on #54
@violasong we have a profiler planning meeting tomorrow and I'll be PTO for 2 weeks after that – would it be feasible to have some initial input by EOD today? Happy to jump on a chat to provide more context if needed.

[2019-03-27 16:11] digitarald commented on #54
Other thoughts that might be considered in the UI, adding to the notes before:

- Give users more context when needed to understand some of the technical and complex options that don't relate to "tangible data" (hidden threads, time ranges, etc)
- It might make sense to hide the complex options field for release users (vs pre-release dev audience), similar to what @gregtatum implemented, so users

[2019-03-27 16:13] violasong commented on #54
Yes! Will look at it this morning

[2019-03-27 18:23] violasong commented on #54
Here's what I would suggest based on the above points:

--
**Share Performance Profile**

Upload your profile and make it accessible to anyone with the link. By default, your personal data is removed.

v Include additional data that may be identifiable
- [ ] Hidden tracks
- [ ] Hidden time range
- [ ] Screenshots
- [ ] Resource URLs

[Cancel] [Save] [Publish]

--

- I think having a short title he

[2019-03-27 19:27] digitarald commented on #54
Would you recommend to hide that section by default or just receive a "section" styling?

[2019-03-27 19:49] violasong commented on #54
Ah, not sure - do you foresee these options used like 5% of the time or
30%+? Is it important to list out all the options for discoverability in
case the dev is missing something? It’s not too much info if we just have
4-5 checkboxes, so maybe I’d err on default-visible.

On Wed, Mar 27, 2019 at 12:27 PM Harald Kirschner <notifications@github.com>
wrote:

[2019-03-28 20:06] Mozilla-GitHub-Standards opened #56 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-03-28 21:11] #56 closed

[2019-04-05 14:15] fvsch commented on #48
Proposed change (example with light theme):

[code]

The idea is to keep one comment color (since it's used in a lot of places), then 3 colors:

- a base text color = medium contrast
- a more contrasted variant ("strong")
- a less contrasted variant ("dimmed")

[2019-04-09 00:47] violasong commented on #48
This sounds good! (Though I still think it's worth getting my "gray 43" #a4a4a4 in for markup's inactive attr :). Monochrome syntax highlighting gets kinda delicate!)

Btw, I was thinking about how you mentioned the Copy All Changes button looked a bit disabled. What if we change `--theme-body-color` to Gray 70? I'm trying it out now and it looks good to me.

[2019-04-17 21:46] violasong commented on #45
@digitarald Yes, good point - will add to backlog.

[2019-04-17 21:59] violasong commented on #29
@yogmel Sorry for the extremely late reply! I think you made great points here.

I think this UI may have changed since this bug was filed? In any case, I think the current bolded shortcut with subtle text hover effect is probably fine for now. I'm more bothered by the fact that it's not vertically aligned ;) so I'll file a bug for that.

[2019-04-17 21:59] #29 closed

[2019-04-17 23:01] digitarald opened #58 "Show console error count in toolbox"
Console errors are a guiding beacon for web developers, during development and in production (collected via error reporting services). Making them visible in top-level UI can hint important.

Work started in [bug 1109362](https://bugzilla.mozilla.org/show_bug.cgi?id=1109362).

cc @nchevobbe @janodvarko @fvsch @violasong

## Background

We have a lot of prior art, so we should pick the best fit and

[2019-04-17 23:06] digitarald commented on #58
Victoria's mockups from the discussion in [bug 1109362](https://bugzilla.mozilla.org/show_bug.cgi?id=1109362).

Iteration 1:

![image](https://user-images.githubusercontent.com/8599/56326375-a4a04b80-612a-11e9-8ee5-dd85fc4eb282.png)

Iteration 2:

![image](https://user-images.githubusercontent.com/8599/56326348-863a5000-612a-11e9-8d4c-6b79154f3cb8.png)

[2019-04-17 23:11] digitarald commented on #58
I prefer the Chrome placement

- It separates the errors from the tab and uses the split console as click action which is the least intrusive (vs switching tabs to check console logs). If users want to see more, they can always click on the Console to dig in further.
- The other upside is that tabs usually have some space to the right, so the warnings appearing and growing in size in that space do

[2019-04-18 08:07] janodvarko commented on #58
Yes, I like the placement of the number on the right side.

It would be also great to have an (error) icon next to the number, so it's clear what the number represents. Or perhaps we could experiment with the solid red badge again (with the number inside)? Having it far right doesn't have to feel too intense (as when it's between tabs).

Honza

[2019-04-18 09:42] fvsch commented on #58
### Error count in Console tab

I like the simple red count (Iteration 2). Here's a test with a solid red badge look (done in CSS on Linux, exact rendering depends on font and resolution):

![Screen Shot](https://user-images.githubusercontent.com/243601/56347152-0234a680-61c4-11e9-9146-9a67a94d4a1b.png)

Looks alright-ish, maybe a bit too strong indeed.

In that scenario, I wouldn't reserve a ~20p

[2019-04-18 16:16] julienw commented on #54
Hey, I filed an issue in https://github.com/firefox-devtools/profiler/issues/1957 after this was implemented because I found the way checkboxes work confusing. Especially sometimes `checked` means `filter out` and in other locations it means `include`.

[2019-04-18 23:24] digitarald commented on #58
That also looks good, from a styling perspective (not considering the tab vs right-aligned decision). If we feel we need to tone it down, we can still pick a less vibrant red

The trade off is a hefty context switch from the current tool to a new panel. As example, if a user is the process of editing CSS or stepping, see an error appearing, clicking – they will be ejected out of their flow into a

[2019-04-19 18:11] digitarald opened #59 "[Network] Content search"
**💡 Stage: Converging**

Why P2: Contributor project and not tied to team deliverables, but potentially includes an existing open UX issue and can make life easier for webcompat debugging.

Implementation: [Bug 1454312](https://bugzilla.mozilla.org/show_bug.cgi?id=1454312).

## Stories
- When looking for resources, I want to search for keywords that appear in either headers or body, so that I can

[2019-04-19 20:47] digitarald opened #60 "[Toolbox] "Active Footgun" icon in panel tabs"
_tl;dr_: Tabs with options enabled that are potential footguns should have warnings on them – to avoid surprises and provide similar UX to Chrome. MVP should cover Network panel.

cc @janodvarko @violasong

**User Story**: When enabling options for a task that I could potentially forget while they keep impacting my debugging/browsing experience, I want the tool's tab to give me a warning, so that

[2019-04-22 18:37] violasong commented on #58
The badge with darker red still seems pretty intense/alarming to me. If we're ok adding a small icon, in outline mode, it looks pretty good I think. I was assuming we won't be adding an indicator for console warnings, only error.

<img width="1088" alt="image" src="https://user-images.githubusercontent.com/55994/56517807-bc911a00-64f2-11e9-8a6c-7550d3f4959a.png">

Not sure about the split console

[2019-04-23 03:45] digitarald commented on #58
How would it look filled? Would the text in red might be easier to read in black? Then it basically looks like Chrome I guess, just with our icon 😅

Yes, for now. Could we try out how it looks for brainstorming?

[2019-04-23 13:57] janodvarko commented on #59
I like the idea of having a new Search panel that allows stepping through results - highlights the results in the panel content and/or in the Side panel details (so, the user can see both at the same time).

Did you mean horizontal space? (height of a side panel is the same as height of the main panel, no?).

I also like having the Search panel on the left side, not as part of the right side panel

[2019-04-23 14:44] yashjohar commented on #28
Hi @violasong @fvsch sorry for the delay. I have attached the rotate and touch icons to the [bug 1535254](https://bugzilla.mozilla.org/show_bug.cgi?id=1535254). I don't have a copy of Illustrator and will need some help optimising them.

[2019-04-23 15:08] janodvarko commented on #60
The suggestions looks good to me. So, from my perspective, I only need the icon (or set of icons).
Honza

[2019-04-23 17:20] digitarald commented on #59
Yes, thank you. Fixed.

@jasonLaster was that considered during the search panel design or later?

Would it work like Chrome's Search panel or different?

[2019-04-23 20:43] digitarald commented on #60
@violasong could you chime in here? The warning icon seems a low-hanging fruit – but we also got other panels that want to communicate state in their icon; like https://bugzilla.mozilla.org/show_bug.cgi?id=1544967#c6 and the green state of the enabled Accessibility icon. Maybe we want to solve them all in unison; or we decide to keep it simple and continue diverging.

[2019-04-23 21:10] violasong commented on #60
Ah good idea - we talked about this before but probably failed to capture it.

There's an existing icon that shows warning combined with extension:
<img width="46" alt="image" src="https://user-images.githubusercontent.com/55994/56615109-46161a00-65cf-11e9-8533-5e05fda77c64.png">

We could do that monochrome style though I think going with a yellow icon looks a lot more clear:

<img width="674" al

[2019-04-23 21:15] violasong commented on #60
Well now that I'm thinking about this I really want Inspector (has changes) and Console (has errors) to look like this :)

<img width="176" alt="image" src="https://user-images.githubusercontent.com/55994/56616436-3f3cd680-65d2-11e9-8066-943780f01123.png">
<img width="271" alt="image" src="https://user-images.githubusercontent.com/55994/56616444-45cb4e00-65d2-11e9-8bff-a2adce70211c.png">

[2019-04-23 21:26] digitarald commented on #60
I like where this is going @violasong – a lot!

The UI is similar to tab and app badges and the badges are large enough to include enough meaning. Color can be used to switch from warning to error.

How would enabled A11Y look?

Another tweak to improve the visibility of the footgun state could be to add a yellow line to the tab (similar to the blue highlight for selected tab, or how Container tab

[2019-04-23 21:41] digitarald commented on #60
@darkwing brought up that the paused state would even benefit from a colored tab. There is probably some high severity state (footguns like paused debugger, tracked changes and throttled connection) that would benefit from this while low severity (enabled a11y, errors in console) don't need to draw too that kind of attention.

[2019-04-23 22:01] violasong commented on #60
Yellow tab border looks nice, though it might get confused with the selected tab
<img width="629" alt="image" src="https://user-images.githubusercontent.com/55994/56618420-6ea21200-65d7-11e9-804c-c9793cc1cb30.png">

I could play around with colored tab more, but at first try I'm not if I can make it look good
<img width="610" alt="image" src="https://user-images.githubusercontent.com/55994/5661851

[2019-04-23 22:08] digitarald commented on #54
Seems like that is the way forward until we get more checkboxes. Related https://github.com/firefox-devtools/profiler/issues/1957#issuecomment-484491272 had a great idea on how to conceptualize the removal of hidden information and private data.

@violasong how would this be worded for Nightly, where we want to share everything by default. Just pre-opening the section and having the checkboxes che

[2019-04-23 22:20] digitarald commented on #60
Would the selected tab get a blue warning badge or also yellow?

I like the light yellow bar as highlight, subtle yet warning. If we get the colors documented for dark and light mode, we might be good to implement (pending other input).

[2019-04-23 22:27] violasong commented on #60
Ah oops, I was thinking yellow for the selected tab as well

<img width="610" alt="image" src="https://user-images.githubusercontent.com/55994/56619892-f8ec7500-65db-11e9-9c95-93b2d9245e17.png">

Cool! Are we doing the icon overlay in css? If so the footgun icons just need to be yellow 60. Yellow 50 for the top line. I can look into dark mode soon.

[2019-04-23 22:39] karlcow commented on #60
It has happened to me that I forgot I had something activated. I guess it depends on what is considered options that needs to be highlighted. I can imagine if one is always in a specific scenario then the visual reminder could become annoying.

I even wonder if a single panel highlighting all changed configurations by category would be useful, basically a summary of the changes, with even a button

[2019-04-24 00:26] darkwing commented on #60
I really like these mockups @violasong!  The icons and the attention to action in each tab feels great!  Maybe I'm looking at the mockups through rose-tinted glasses, but I don't know that each tab needs its own action color and icon.  The debugger literally halts everything which has the ability to cause confusion, so I somewhat worry that the other icons could draw away attention.  Overall, howe

[2019-04-24 05:09] violasong commented on #60
Seems like some tools (Console, Debugger, Accessibility) could omit the icon when they're currently selected. The Inspector and Network panels seem to need them always, as they don't have a strong indicator of footgun state inside the panel (though they probably should).

(🙀 hmm so a unified SMART DEVTOOLS panel, cc @captainbrosset @martinbalfanz just for lol)

I like the idea of a home panel with

[2019-04-24 05:20] digitarald commented on #60
If the Console icon ends up with the last discussed option in #58 , I would argue to not have an icon on the tab. Having a counter makes it much more actionable than just a warning state.

When users have footguns in all tabs enabled, we as a product have used this wrong indeed ;) . A case where more would be enabled, could be a user being paused in debugger while network resources are throttled o

[2019-04-24 05:35] karlcow commented on #60
That doesn't sound what I had in mind 🤣 but to try to clarify my ill phrased thought and taking the example given by @digitarald

## Network
* [x] Throttling
* [x] Request Blocking

## RDM
* [x] Touch
* [x] UA changed

[Reset](https://en.wikipedia.org/wiki/Thanos)

[2019-04-24 08:00] fvsch commented on #60
@violasong The current toolbox icons are in this Figma document:
https://www.figma.com/file/SvG26G5QeMmQ4iM6BMrfrmrh/DevTools-Toolbox-Icons

Re. badges on the RDM icon: since it's just an icon and not a tab, we could get icon/information overload quicker there. I'm also concerned that having a changed UA is a common situation because once you select a profile (e.g. "iPhone 6/7/8") it changes the U

[2019-04-24 08:03] fvsch commented on #60
Maybe an inset bottom border a bit like Container Tabs do?
That could limit confusion between this warning border and the selected tab state.

![screenshot](https://user-images.githubusercontent.com/243601/56642597-18d17680-6678-11e9-9db8-aea4f7cb994f.png)

[2019-04-24 12:20] janodvarko commented on #59
Content of the Search panel would be the same as in Chrome (or as the current search results in Debugger). The main benefit would be the layout - having independent search panel that doesn't overlap the current panel where the user is searching.

Chrome seems to be a bit inconsistent in what Search panel is used. When searching in the Net panel - there is left-side panel, when searching in Sources

[2019-04-24 17:19] digitarald commented on #59
@jasonLaster @darkwing @loganfsmyth thoughts on debugger search in side-panel - what are trade-offs that we should consider?

@violasong you had past mockups around search; are there relevant materials and considerations to share here?

[2019-04-24 19:20] digitarald commented on #60
Agreed, out of scope but can take inspiration from this work. RDM needs its own highlighting system in its own UI, as it can be opened without DevTools.

With the light yellow bar, confusion should be limited (pending review of the dark colors) – but its an option to explore for sure (also as it acts more as an underline, which is nice).

[2019-04-24 21:57] violasong commented on #60
Yeah, makes sense :D

You mean some folks have A11y on always, so we should have a setting to turn off the indicator? The yellow dot actually looks less prominent than the green icon, so I'm not sure if it's that much of a warning.

[2019-04-24 21:59] violasong commented on #58
Oh argh, it's looking brighter in my screenshots than in my sketch for some reason. I meant for it to look more like this:
<img width="1064" alt="image" src="https://user-images.githubusercontent.com/55994/56696303-49c5a180-66a0-11e9-9a97-ace3ef45dae5.png">

Here's how chrome style looks.

<img width="1057" alt="image" src="https://user-images.githubusercontent.com/55994/56696699-70380c80-66a1-11e

[2019-04-24 22:03] violasong commented on #60
Tried the container look for Console, and I think I do like this for the clearer separation from selected state.
<img width="910" alt="image" src="https://user-images.githubusercontent.com/55994/56696900-13892180-66a2-11e9-9a44-5a925dd61df1.png">

[2019-04-24 22:09] violasong commented on #60
Yes, I understand - I was expanding on this idea to new futuristic heights, wherein it gets on the same wavelength as the [Smart 3rd Panel](https://mozilla.invisionapp.com/share/7HRJ1A9UBW9#/screens) idea I've been raving about to the Layout Tools team for a while :)

[2019-04-24 22:12] karlcow commented on #60
btw, what's the UX story, when the user changes website in the same window/tab, aka the settings are still changed but the site is different.

[2019-04-24 22:40] violasong commented on #60
Potential dark mode - Same Yellow 60 for the icon, Yellow 50 at 50% for the underline

<img width="911" alt="image" src="https://user-images.githubusercontent.com/55994/56698532-15091880-66a7-11e9-9dc9-a2155177b8f0.png">

Here's the [Invision link](https://mozilla.invisionapp.com/share/J5RPDXHHAS8) for all the mockups together.

[2019-04-24 22:54] violasong commented on #28
No worries and thanks @yashjohar! Excited to see these land.

[2019-04-24 22:55] #28 closed

[2019-04-25 00:05] digitarald commented on #60
Good question, @karlcow . If the network is still throttled, the warning would still be shown – doesn't seem too different.

[2019-04-26 22:19] violasong commented on #60
Updated design with simpler indicator circles for Inspector/Accessibility.
<img width="931" alt="image" src="https://user-images.githubusercontent.com/55994/56839273-97741280-6836-11e9-9e20-8b6deba4d8ac.png">

Invision link: https://mozilla.invisionapp.com/share/J5RPDXHHAS8#/screens

[2019-04-26 23:04] violasong commented on #60
One more test: Upper right indicators. Matches the main Firefox indicators, but this style for Network/Debugger doesn't look as good to me.

<img width="719" alt="image" src="https://user-images.githubusercontent.com/55994/56840535-dc9b4300-683c-11e9-98e6-b7918aa11110.png">

[2019-04-26 23:11] violasong commented on #60
Ah, and the extension icons all use lower-right style.
<img width="945" alt="image" src="https://user-images.githubusercontent.com/55994/56840714-e6717600-683d-11e9-8ddd-b9ad3f0232c0.png">

[2019-04-29 23:37] digitarald commented on #58
@violasong what's your preference? I am fine with either but prefer the second one as it provides better contrast and we don't have other devtools interfaces with red text and outlined icons.

Final thoughts, @janodvarko @nchevobbe ?

[2019-04-30 00:28] violasong commented on #58
The first one plays off the (?) icons, but I can see what you mean about the red outline being weird.

I worked on the second one some more - shrinked the icon and number so it's a little less prominent. I'm liking this a lot more now and am happy to go with it.

<img width="970" alt="image" src="https://user-images.githubusercontent.com/55994/56935156-28035a80-6aa4-11e9-87ef-f2e76f7fdd91.png">

[2019-04-30 00:41] violasong commented on #58
Attached the icon — it's a smaller version of the photon one, 10x10, with slightly larger exclamation mark. Should be filled with red 60.
[error-small-compressed.svg.zip](https://github.com/firefox-devtools/ux/files/3129608/error-small-compressed.svg.zip)

[2019-04-30 11:13] janodvarko commented on #58
- I like the last screenshot from @violasong
- I also prefer having the counter on the right side and opening the split console when clicked.

So, for me this looks great, thanks!

Honza

[2019-05-01 09:18] janodvarko opened #61 "Improve discoverability of the Header column menu"
Users might not now about the context menu that allows to show/hide columns in the Network panel. We could introduce an menu-icon in order to improve discoverability of this feature.

This menu-icon could appear at the right side of a column header as long as the user hovers mouse over the header. Clicking on the menu would open the same context menu as if the user just right clicked (anywhere) on

[2019-05-01 16:00] digitarald commented on #61
I like how the sorting icon doesn't take space in Chrome (as the label is more important than the arrow), maybe some smart CSS filter can improve contrast for that case.

As another prior art, Google spreadsheets shows the menu on hover and overlayed on top with a light button styling (screenshot showing hovered state):
<img width="129" alt="image" src="https://user-images.githubusercontent.com/85

[2019-05-01 17:22] fvsch commented on #58
@violasong Would 12px icons work here or is that too big and 10px is preferable?

12px icons follow the recommended "small" size from Photon and that's what we use in the Console.
If we want a full (Chrome-style) alert icon we already have one for Console errors.

Here it is (bottom center) compared to the 10px icon (bottom right) and Console icons (top row):
<img width="153" alt="Error   Warning@

[2019-05-01 18:15] hemakshis commented on #58
Hi, What about the tooltip text that should be displayed when the user hovers over the icon?
Should we add something like "<count> errors" (done by Chrome) or "Open Split Console" or "Show in Split Console"?

[2019-05-02 09:31] janodvarko commented on #61
Yes, I was thinking about this too.

@fvsch Could we have a CSS Mask applied around the triangle? (circular CSS mask?)

Honza

[2019-05-02 12:14] Ilphrin commented on #61
Hi!

What about having this '...' and arrow icons appearing when the user is hovering the column, whether it is focused or not?

[2019-05-02 20:27] violasong commented on #58
Ah, the .5 pixels on 11px artboard thing was a mistake! Thanks for fixing it.

For me the 10px level of prominence with larger white text helps reduce the alarm/discomfort of seeing a red error dot. I'm assuming people often want to ignore it if they're working in the Inspector, etc.

@digitarald Why thumbs-down?

[2019-05-02 21:25] digitarald commented on #58
Oh noes, I meant (double, triple) thumbs up! The smaller icon is excellent.

If this is wrapped up, I'd like to close this issue as implementation work has started. We can re-open it in case of follow up questions.

[2019-05-02 21:28] violasong commented on #58
Haha Yay! Will close the issue.

[2019-05-02 21:28] #58 closed

[2019-05-08 19:02] digitarald commented on #59
Summarizing to move forward: Given the options, we have general agreememt that side-panel search interface checks most requirements and can improve the search experience in Debugger.

I suggest to further converge on that option and start mocking up search panel for Network and, as stretch work, for Debugger (though keeping this issue focused on Network). Happy to take a shot at it, with help from

[2019-05-16 16:02] nchevobbe opened #62 "Consistent styling for "Crashed" components"
In [Bug 1551612](https://bugzilla.mozilla.org/show_bug.cgi?id=1551612) I'm adding a safeguard to make sure that messages that couldn't be rendered (because we threw an exception) don't crash the whole console output (known as White Screen Of Death).

My patch is very naive, and I display a message inviting the user to file a bug:

<img width="948" alt="image" src="https://user-images.githubusercon

[2019-05-16 16:09] nchevobbe commented on #62
We could have Devon somewhere :D

[2019-05-16 16:35] fvsch commented on #62
With your patch, is the Console still working after encountering that kind of error?
Can users still see new messages, type commands, etc.?
If yes, your current approach might be best.

[2019-05-16 18:26] nchevobbe commented on #62
Yes, everything will work (except the message that crashed). But I'm more interested in how we could style the crashed message  in a nice and Photon compliant way.

[2019-05-16 20:18] digitarald commented on #62
@nchevobbe trying to understand how much effort we need to spend on optimizing this flow; how many users would we ever expect to see this and what creates messages that can not be rendered?

The low-hanging fruit is throwing these messages in the browser console and providing more context there; vs asking users in the content console to file bugs with copied raw data.

[2019-05-17 07:48] nchevobbe commented on #62
if we'd have a goal, it'd be for the user to never see this message :D
But crashes happen, and we should have as much data as we can on our end to fix them.

A server-side/platform change that isn't covered by tests yet, some data being different from what we assume them to be, … could be anything really.

I think most users don't know what the browser console is, and you have to check additional

[2019-05-17 08:11] janodvarko commented on #61
I am not sure if I understand this, can you please explain more?

[2019-05-17 08:12] janodvarko commented on #61
Also, Google spreadsheets hides the menu-icon when the column is too small. In that case the menu is accessible only through right click.

Honza

[2019-05-17 18:30] digitarald commented on #62
Maybe we can work on backing up more of the assumptions here. If users don't report a bug for a completely crashed Console, why would they report an error message that causes a minor "We're sorry …" error?

[2019-05-18 11:42] fvsch commented on #62
My point was that the Photon designs you are referencing are used when the full page or tab is unreachable or crashed. They're called "System errors" in https://design.firefox.com/photon/patterns/errors.html

I think we already have an error message component that may appear between the Console output and jsterm? Not sure how it looks, but maybe we could use it as-is, or tweak it? That would keep

[2019-05-20 02:14] kriskristin commented on #11
Still working on this.

@violasong Do you have a mock-up or screenshot of how the white on black icons will look? Will the background be a rectangular & button-like?

[2019-05-25 04:07] violasong commented on #59
My related idea is the [unified command palette](https://github.com/firefox-devtools/debugger/issues/6260) that works as a global search.

If we ignore fancy search UIs for now, and just think about how the results should look in the current design: I’m still most in favor of my comment from 5 months ago in the [Console bug](https://github.com/firefox-devtools/ux/issues/38#issuecomment-446810063)

[2019-05-29 14:35] digitarald commented on #59
@violasong

Related, the cmd-p palette definitely comes up a lot in feedback as users have trained that muscle, but the in-file search would probably not be the first problem that it solves for (vs devtools commands, go to file, etc).

This sounds like a pretty full-fledged project. Is this based on existing UI from other editors or breaking new ground? I'd be happy to have some UX exploration to

[2019-05-30 22:31] violasong commented on #59
Agreed, that's definitely the more experimental part of that idea. Chrome parity could be a good start.

I'm thinking of how a full-text web search will combine results that match either the title or the content. Here's a rough idea of how it could work:

First one is header match, second one is filename match.
<img width="878" alt="image" src="https://user-images.githubusercontent.com/55994/58669

[2019-06-03 16:38] digitarald commented on #59
As we have interns starting, is is probably a good start for converging towards the sidepanel option.

This would work in Network panel. Is this goal still to apply the same theme across more panels, mainly Debugger? Lets start a new issue for that though, so we can effectively diverge.

[2019-06-04 00:24] violasong commented on #59
I actually don't think the search UIs in Network and Debugger should be the same.

In Network, searching inside the requests seems so similar to filtering request name that I think the results should be kept together in one list if possible. Adding a search sidebar on the left would give us semi-redundant left and middle columns, and require the user to visually jump across a big, currently-useles

[2019-06-04 00:27] violasong commented on #59
Oh, maybe there was a little miscommunication here:

I meant Chrome parity only for the command palette.

I'm against Chrome parity for the search sidebar :)

[2019-06-04 01:14] violasong commented on #59
Another thing: Would it be correct to say that 1. users usually only want a URL filter, and 2. if we perform a full-text search by default for these users, it could yield too much irrelevant data? (or have perf issues, etc?)

If so: one extra piece of UI that may be necessary for my Network search proposal is some kind of switch to turn on full-text matching. Cmd-F could both activate the field an

[2019-06-07 14:24] kriskristin commented on #11
@violasong Just pinging you again, to see if you have a mock-up or screenshot of how the white on black icons will look?

[2019-06-07 21:15] violasong commented on #11
Hey Kristin, sorry for the delay! I had been thinking of the [second icon here](https://design.firefox.com/icons/viewer/#identity), but now that I'm looking at this more, I think the icon you were already using will probably fit better.

[2019-06-11 17:23] fvsch commented on #42
This landed in Firefox 68 (beta).

[2019-06-11 17:23] #42 closed

[2019-06-14 18:02] nt1m commented on #59
Note that the current filter input supports text flags, so you can type things like `hello status-code:200` which would basically match all requests with an URL of`hello` and a status code of 200. It also supports negative filtering like `hello -status-code:200`. These are ported from Chrome DevTools.

Just mentioning it since it might be tricky to fit the flags in the content search UX in case of

[2019-06-19 20:37] fvsch commented on #48
So we shipped those changes (including the `--theme-body-color` to Gray 70), it's not perfect everywhere but I think we can close this now that we have fewer variables for that in variables.css.

[2019-06-19 20:37] #48 closed

[2019-06-19 20:38] fvsch commented on #52
Closing this since we have a UX decision already, and work underway.

[2019-06-19 20:38] #52 closed

[2019-06-27 04:50] kriskristin commented on #11
Thanks @violasong

I'm getting closer:

I have...
* Mock ups with titles and without.
* Doorhangers in different proportions (as I was searching through the browser UI, I found both vertical and horizontal orientations)
* The 'Learn more' text falling inline with the main text as well as separated from the main text. (From what I see, in line is the general practice, but could be wrong)

<img widt

[2019-06-30 02:21] violasong commented on #59
I've been hoping for a more advanced search bar that can match any of these flag types, e.g. shows requests with 200 status codes if the user just types `200` into the input. Organizing the match types in the results (e.g. similarly to how I describe it in my last comment) would help with any potential chaos, e.g. if there are a lot of URLs that match 200.

[2019-07-01 22:46] violasong opened #63 "DOM Mutation Breakpoints: Milestone 1"
[PRD: Milestone 1](https://docs.google.com/document/d/15eEdxfdUIwTgxMSsuZM59t8mXmEIN-WAMkZtIZEu0fA/edit#heading=h.kcrj6vfroy3f)

[Bug 1547692](https://bugzilla.mozilla.org/show_bug.cgi?id=1547692)

Engineers: @loganfsmyth, @darkwing & @gabrielluong

[2019-07-01 22:51] violasong opened #64 "Unified Layout Panel"

[2019-07-01 23:35] violasong commented on #11
This is great! My favorite is the horizontal one with title and inline "Learn more."
I think the title helps explain the situation in a few words, which is harder to do in sentence form.

I'm thinking more about the text itself, and I feel that mentioning Firefox Gecko, as you suggested previously, would help with understanding. I think many people would need a little nudge to remember what a rend

[2019-07-01 23:36] violasong commented on #11
(CC: @tigleym @gabrielluong in case they have thoughts on the wording in my last message :))

[2019-07-02 00:12] violasong opened #65 "WebCompat Diagnosis Sidebar"
- Make it easier to discover and configure Open in Browser feature
- Make the browser version links more obvious
- Use MDN in the wording/visuals
- Messaging to show that a perfect score does not mean a compatible website
- Integration with Unified Layout

[2019-07-02 00:17] violasong opened #66 "WebCompat Diagnosis Toolbar Extension"
- Visual polish for toolbar popup

[2019-07-02 01:01] dadaa commented on #65
<img width="1115" alt="screenshot" src="https://user-images.githubusercontent.com/1164542/60475011-1a3ea100-9cb0-11e9-8753-a5cb0e204c26.png">
This is a screenshot of current prototype.

[2019-07-02 01:16] violasong commented on #64
[Latest design

<img width="1016" alt="image" src="https://user-images.githubusercontent.com/55994/60475462-4dd7e780-9c2c-11e9-8097-45aeeedd4e9d.png">
](https://mozilla.invisionapp.com/share/KTSRCK69ZS7#/screens)

[2019-07-02 01:17] violasong commented on #65
Thanks!

It occurred to me that I've borrowed the Selected Node/Whole Document pattern for [unified layout panel](https://github.com/firefox-devtools/ux/issues/64) :D. Will have to match up the two designs.

[2019-07-02 01:23] violasong commented on #53
Looks like this was resolved (and it looks good to me!), so closing this bug.

[2019-07-02 01:23] #53 closed

[2019-07-02 01:33] violasong opened #67 "Flexbox Inspector Improvements"
Could improve on container, item, and container-item UIs. Maybe more unification, related to [unified layout panel](https://github.com/firefox-devtools/ux/issues/64).

Notes from 2019/2/6 critique

Flex Container list of items
- Chevrons feels a bit big, maybe too close together
- User testers didn’t immediately think they were clickable. They just focused on the hover effect. Users had to be told

[2019-07-02 01:34] violasong commented on #45
(I think this issue can be closed - let me know if otherwise.)

[2019-07-02 01:34] #45 closed

[2019-07-02 01:38] violasong opened #68 "Target switching UX"
https://docs.google.com/document/d/1pI4Ool0oxhhZ01dHmRv50DgjO49a5_1NFccbtC-9rKc/edit?pli=1#

[2019-07-02 01:39] violasong opened #69 "Inline Computed Tooltips"

[2019-07-02 18:30] violasong opened #70 "Better onboarding for new contributors"
Update (December 31): Join me on [Slack](devtools-html-slack.herokuapp.com) to follow along and help with the UX process!

### Checklist: firefox-dev.tools
- [x] Refresh [firefox-dev.tools](http://firefox-dev.tools) homepage text
- [ ] New homepage design MVP

### Checklist: Contributor Documentation
- [x] Refresh docs [intro text](https://docs.firefox-dev.tools/)
- [x] Refresh Getting Started tex

[2019-07-03 08:45] ruchikabgosain commented on #20
Hey @fvsch is this icon still needed? If yes, I would like to take this up. Let me know.

[2019-07-03 08:49] ruchikabgosain commented on #5
Hello @violasong is this issue still available? I would like to take this up. Let me know! :)

[2019-07-03 10:44] ruchikabgosain commented on #21
Hello @violasong is this issue still available? i would like to take this up. Let me know, thanks!

[2019-07-03 14:57] fvsch commented on #21
Hi @ruchikabgosain, we've been discussing it for a bit and I've started a HTML mockup.
You can find some info on the #ux channel on Slack but I'll post an update here soon. Any feedback will be greatly appreciated. :)

[2019-07-03 15:03] ruchikabgosain commented on #21
Hey @fvsch thats great! Looking forward to that :D

[2019-07-03 15:43] fvsch commented on #21
So here are screenshots of what I have right now (it's online as a HTML mockup but Netlify is having a certificate downtime right now, so I'll post it later).

We split the Settings content into 3 tabs, tentatively named "Appearance", "Tools" and "Advanced". I also tried a fourth view called "Reset" to mock-up a reset feature.

My overall approach was:
1. Give priority to the "personalization" asp

[2019-07-03 15:51] fvsch commented on #21
Netlify seems back up, so:
https://fx-devtools-settings.netlify.com/

On the visual side:
- Overall style reuses shared styles (fonts, font-sizes, colors) from other DevTools panels.
- I used a toolbar style for the tabs. @bwinton suggested tabs on the side to be closer to the Firefox Preferences page, so I'm planning to try that next.
- I want to use a richer visual style for the toggles in the A

[2019-07-03 16:39] fvsch commented on #45
Yep, good to close.

There are some good mockups in this issue that we could reuse -- or get inspiration from -- of we want to document some patterns, but that's true of a few already closed issues. If we get around to making more generic design docs, we can revisit the closed issues to retrieve some material.

[2019-07-03 17:12] awallin commented on #5
Hi @ruchikabgosain thanks for your interest in this issue. It's actually being worked on this summer by another contributor as part of the Google Summer of Code.

[2019-07-03 18:12] fvsch commented on #20
Hmm not sure what we need to go forward.

@violasong It looks like @yashjohar's proposal (with the slightly larger icon and the "reveal" label appearing on hover) was well received. Should we try to implement it directly, or do we want to tweak this design more or explore other solutions?

[2019-07-04 00:25] eduarmreyes commented on #70
Lately, my attention gets better attracted when following these type of steps and seeing screenshots to compare my results versus what is expected. I understand it may vary depending on my development environment but I thought it was worth mentioning.

[2019-07-04 00:44] violasong commented on #45
That sounds good to me - thanks Florens!

[2019-07-04 00:49] violasong commented on #5
I'll close this bug, but we can file new ones if more work on this is needed after the summer. Thanks all!

[2019-07-04 00:49] #5 closed

[2019-07-04 00:51] violasong commented on #20
Ah, thanks for reviving this sad forgotten bug! (There's a bigger question here about how we should do badges/buttons that could indicate action vs state vs both, but I still think Yash's plan is good to move forward with for now.)

Just checking with @juliandescottes and @belen-albeza to see if they have thoughts :).

[2019-07-04 09:36] fvsch commented on #70
I don't have a complete vision, just a few notes:

- Entry point: [firefox-dev.tools](https://firefox-dev.tools/) could be a better entry point for end users and contributors (dev & UX). Something a bit more like an inviting landing page and less like a markdown-to-HTML doc. And right now it's 100% developer-centric, the language and links there expect would-be contributors to be developers.

- If

[2019-07-05 18:31] violasong commented on #64
I realized that with the plans for a dedicated WebCompat tab in the third pane, it would actually be displayed like this in the "shortcuts to other tabs" section. It would still bubble up to the "This Element" section when the error is on the selected element. Latest mockup:

<img width="1031" alt="image" src="https://user-images.githubusercontent.com/55994/60739853-48261e80-9f18-11e9-98b3-26607f7

[2019-07-08 14:29] violasong commented on #64
If the current element has a compat issue, and there is also a compat issue elsewhere in the page, it could look like this:

<img width="338" alt="image" src="https://user-images.githubusercontent.com/55994/60818066-c15c8600-a151-11e9-99a2-a87ec872b08c.png">

[2019-07-08 15:02] violasong commented on #69
Perhaps also:
- A button with link to this value in the Computed panel
- .main could link to the rule in the Rules panel

[2019-07-08 16:41] digitarald opened #71 "Network Monitor's WebSocket panel"
Landing a new panel for Network resources to monitor and inspect WebSocket frames.

🕷 Follow work in the [Meta bug](https://bugzilla.mozilla.org/show_bug.cgi?id=885508).
📑 Read and edit the spec in the [PRD](https://docs.google.com/document/d/153Yaxs3vG0rreYXgYzGuROaeiU0buKvDM3YznTOQtR4/edit)
🧪 Play with [Honza's test page](http://janodvarko.cz/test/websockets/) (pref `devtools.netmonitor.features

[2019-07-08 18:07] fvsch commented on #71
Feedback from @nchevobbe on Slack re. column order and information density:

Based on that inhttps://bugzilla.mozilla.org/show_bug.cgi?id=1561549#c10 I'm trying out:
Type > Time > Size > Payload > Rest…

With the type's visual treatment it might be best to keep it as the first column, but beyond that we can do Time > Payload > Size > Rest…

[2019-07-08 18:30] fvsch commented on #21
Here's a possible look for the Appearance tab, using each tool's icon as a kind of checkbox. I've tried half a dozen variations, including more blocky "button" looks that encompasses the icon and its label, but this is the option that worked best with short and long labels.

![appearance-tab-update](https://user-images.githubusercontent.com/243601/60831306-9017a080-a1b9-11e9-9d93-6e8e1b70efc7.png)

[2019-07-08 20:28] violasong commented on #21
Very nice variants!

Re: 1: Styling the icon for checked state is a neat way to combine the two visually, but I think it might be a bit confusing for this UI since they aren't directly on/off badges in the usual sense (e.g. in DevTools toolbars, this would change a mode or begin use of a tool). Rather they are settings that change something elsewhere (adds the item into the toolbar). So maybe it b

[2019-07-08 20:35] violasong commented on #21
One way to organize the columns could be 3 matching columns with:
Tools | Toolbar Buttons | Extensions (empty at first)

It's a bit similar to the solution for RDM settings, with Custom as an initially empty column at the end

[2019-07-08 20:37] violasong commented on #21
Oh haha whoops, I just realized you styled it this way in your original design :).

I can understand why you changed it, but I guess the different-looking columns feel a bit odd to me.

[2019-07-09 07:08] janodvarko commented on #71
The suggested column order looks good to me! Plus hiding the last three columns will also improve the UX.

One comment, could the arrows (send/received) be part of the Time column? (not in its own column).

Honza

[2019-07-09 07:18] fvsch commented on #71
The advantage of keeping a Type column is that the information is accessible: it has a header (with visually hidden text), and values like `<img src="…" alt="Sent" />`.

We could put it in a time column, with markup looking like:

[code]

(Not my preference, but I'm not against it.)

For order, maybe put the size after the payload?
Type/Time > Payload > Size (> Rest…)

[2019-07-09 07:23] janodvarko commented on #71
I like it, not strong opinion, let's see what others think.

This works for me

Honza

[2019-07-09 07:36] nchevobbe commented on #71
I like it as well, but that brings a question.
I think I saw a bug where we plan to sort the data on table header click. If we don't put the icon in its own column, we wouldn't be able to sort by sent/received state (note that we'll have sent/received filter buttons, so maybe it doesn't matter after all)

[2019-07-09 08:20] janodvarko commented on #71
Yes, I think that the filter should be the way to go in such case.

[2019-07-09 09:19] janodvarko commented on #71
I found one UX issue related to the filter buttons.
See the following screenshot:
![image](https://user-images.githubusercontent.com/37785/60875931-335cca00-a23b-11e9-98f0-cd7c12b0b685.png)

Both buttons are grey (bk), but only sent frames displayed. It's because the Received button has focus and it looks like 'checked'.

* Perhaps we could use just dotted frame (no bk) when focused?
* Also, if bo

[2019-07-10 05:05] digitarald commented on #71
For posterity: @janodvarko and I went through the current implementation and captured these questions and decisions (copied from [requirements](https://docs.google.com/document/d/153Yaxs3vG0rreYXgYzGuROaeiU0buKvDM3YznTOQtR4/edit#heading=h.sl8p5vgkmx7c)):

- Panel title: WebSockets?
  - Follow Chrome with “Messages”
  - Let’s use it too, as it also works for Server-Sent Events
- Focus style for fil

[2019-07-10 19:31] fvsch commented on #71
I've reworked my patch for columns significantly in https://phabricator.services.mozilla.com/D37064

- Type icon in the Time column
- Updated time format
- Updated default column widths

Here's the result at 2 different widths, with the 3 last columns hidden (which should be the default in the future) and with all columns shown.

![Websockets table columns](https://user-images.githubusercontent.co

[2019-07-11 17:43] violasong commented on #70
Thanks both for the ideas!

This sounds great - relatedly, I think @nchevobbe had some ideas for a interactive tool that would your analyze your build results? But maybe just adding more screenshots or sample results in the instructions would help.

Totally agree! I think this is a great low-hanging place to start. Even adding an extra intro sentence would help a lot. And that's a really great poi

[2019-07-11 18:00] violasong opened #72 "Rules autocomplete: Add icons to alignment properties"
We've talked about more complicated UIs for visualizing the flex align properties, but maybe a more visible popup + mini alignment icons on each row (as in graphics editors) is the best way forward. It would add the basic functionality of CSS dropdowns from Safari's visual mode seamlessly into Rules.

[2019-07-11 18:03] violasong opened #73 "Rules autocomplete: Show suggested/autofilled values"
Add a section to the autocomplete popup that shows the format of CSS shorthand values (or for any property that has multiple words that need to be in a certain order).

This could be a purely informative feature, or it could get more interactive - e.g. inlining the autocomplete so that after you type `border:` it puts in `1px solid black` with 1px highlighted, ready to be edited. Press space or ta

[2019-07-11 18:05] violasong opened #74 "Changes: Follow-up features and research"
Potential features:
- Changes indicator
- Copy changed declarations
- Restore changes

Potential research/revrel
- Survey
- Hacks post

https://docs.google.com/document/d/1RaLLEHWkDiCAe_bH5Wx4dpKgnonNS7Q4LKNQAwhYgI8/edit

[2019-07-11 18:06] violasong opened #75 "Inspector Rules panel: Misc improvements"
- Tooltip that shows why a CSS declaration was overridden
- Truncating super long, multi-element selectors with an expandable [...] button
- Explore concept of a 3rd pane tab that just has shortcuts for authoring CSS. (List of common properties that can be dragged/dropped into Rules)

[2019-07-11 18:08] violasong opened #76 "Inspector Markup: Better breadcrumbs"
- Better truncation (needs design work)
- Switch to overflow menu style

[2019-07-11 18:25] violasong opened #77 "Overflow Debugging Tool (unwanted scrollbar debugging)"
We want to help users with these problems:
1. Finding the container element that scrolls.
2. Finding the elements that cause the container element to scroll.

For step 1, the proposed solution is a new [scroll] inspector badge, as well as the ability to click on scrollbars while picking elements. (This has landed.)

For step 2, the proposed solution is making the [scroll] badge clickable. Clicking

[2019-07-11 18:27] violasong opened #78 "Improved combined highlighter (related to flexbox, grid, visual picker)"
During work on the Flexbox Inspector, we initially landed a highlighter that combined the flex outlines with the box model highlight. Unfortunately, this had to be rolled back as it seemed too distracting.

There are ways we could improve on this by coming up with a new highlighter look rather than a simply combined highlighter.

[2019-07-14 21:06] wiomoc commented on #71
Just wondering Chrome shows in the 'Length' column 2B less then in the current FF implementation.
Maybe we should adapt that to ensure parity.

<img width="530" alt="FF" src="https://user-images.githubusercontent.com/10638299/61189273-6532be00-a68b-11e9-83fc-e392a9e2cf2d.png">
<img width="530" alt="Chrome" src="https://user-images.githubusercontent.com/10638299/61189283-88f60400-a68b-11e9-8f5e-28c

[2019-07-15 09:38] fvsch commented on #71
Thanks @wiomoc, I opened [bug 1565984](https://bugzilla.mozilla.org/show_bug.cgi?id=1565984) based on your report.

[2019-07-16 06:51] nchevobbe opened #79 "Clicking on logPoints location"
In [Bug 1557138](https://bugzilla.mozilla.org/show_bug.cgi?id=1557138) we want to make it easier to show what a logpoint expression is when the user click on the location in the console.

Here are some scenarios:

- The user added a logPoint with the following expression `a, b, c` (in the middle of other logPoints). This produces `undefined, false, 1`, in the middle of other logs, and the user isn

[2019-07-16 17:44] jasonLaster commented on #79
Thanks for the writeup.

We intentionally use the source location as we want to keep the log point in context as much as possible.

At the moment we rely on tooltips to help users see the message. There's a tooltip for the breakpoint and the breakpoint panel message.

<img width="633" alt="Screen Shot 2019-07-16 at 10 38 51 AM" src="https://user-images.githubusercontent.com/254562/61316560-1afa2b8

[2019-07-16 19:35] chujunlu commented on #79
I agree with @nchevobbe last comment in [patch](https://phabricator.services.mozilla.com/D35624). Clicking location of a logPoint error message in console, the user's intention is likely to be editing that logPoint expression. Maybe for error, open logPoint panel to facilitate editing; for normal log message: signal user the intended logPoint.

[2019-07-16 22:27] violasong commented on #70
I think the easiest first steps to an MVP of this project are:

- Proposing new copy for the home page of https://firefox-dev.tools/
- Adding some more overview-type info to the intro/getting started pages in https://docs.firefox-dev.tools
- Changing the Community link inside DevTools ••• menu to link to https://firefox-dev.tools/
- Possibly a lightweight design update (could be an interesting pro

[2019-07-17 02:27] violasong commented on #70
There could also be a landing page-like section on the homepage that shows a images of new features, at least for the following:
Grid Inspector
Fonts Editor
Shape Path Editor
Accessibility Inspector
Flexbox Inspector
Changes Panel
Inactive CSS

[2019-07-17 05:44] nchevobbe commented on #70
When outreachy started, these were the main issues people struggled with:
1. They had an issue building Firefox. The doc is not streamlined, so you have to open different pages to get to the content you want. This should be made easy.
1. The doc references multiple ways of doing things (full build vs artifact builds, mercurial vs git, arc vs moz-phab, …). This is confusing for the new contributor

[2019-07-17 09:03] janodvarko commented on #70
One goal we have in the Debugger team is to help the Debugger community (around GitHub) transit to m-c world. David wrote a nice doc to help them

There are several resources related to documentation update:

* [Bug 1535023](https://bugzilla.mozilla.org/show_bug.cgi?id=1535023) - Document setup process for contributors moving from GitHub
* DevTools Documentation Update Feedback from contributors (